* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.balm .container {
	width: 1200px;
	margin: 0 auto;
}
.sec1 {
	height: 940px;
	background:  url(./images/bg.jpg) no-repeat center;
	background-size: cover;
}
.sec1 .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 940px;
	position: relative;
}
.sec1_left {
	width: 600px;
	display: block;
	min-height: 100%;
	position: relative;
}
.sec1_left::before {
	position: absolute;
	left: -60px;
	bottom: 0;
	content: " ";
	background: url(./images/model-m.png) no-repeat bottom;
	width: 672px;
	height: 893px;
	background-size: contain;
}
.sec1_right {
	min-height: 100%;
	display: block;
	width: 600px;
	padding-left: 25px;
}
.sec1_right h2 {
	font-size: 83px;
	color: #084f19;
	line-height: 1;
	letter-spacing: 1px;
	margin-top: 50px;
}
.sec1_right h3 b,
.sec1_right h3 {
	font-size: 48px;
	color: #084f19;
	line-height: 1;
	letter-spacing: 1px;
}
.sec1_box {
	background:  url(./images/bg2.png) no-repeat center;
	display: block;
	background-size: contain;
	padding: 10px;
	width: 577px;
	height: 137px;
}
.sec1_right p {
	font-size: 17px;
	color: #084f19;
	line-height: 1;
	letter-spacing: 1px;
	width: 90%;
	margin: 0 auto;
	padding: 38px 0 0;
}
.sec1_right ul {
	list-style-type: none;
	margin-left: 50px;
}
.sec1_right ul li {
	font-size: 24px;
	color: #3f605b;
	background: url(./images/thumb.png) no-repeat left center;
    padding: 8px 0 8px 45px;
    font-weight: 600;
    font-style: italic;
}
.sec1_box2 {
	width: 530px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 20px;
}
.sec1_box2_left,
.sec1_box2_right {
	display: block;
	width: 235px;
}
.sec1_box2_right {
	width: 270px;
}
.sec1_bottle {
    width: 100%;
    height: 220px;
    background:  url(./images/bottle.png) no-repeat center top;
    background-size: contain;
    margin: 0 auto;
}
.sec1_box2_left {
	padding: 0 10px;
}
.sec1_box2_left h5 {
	font-size: 22px;
	color: #174712;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
}
.sec1_box2_left p {
	font-size: 14px;
	color: #333333;
	font-style: italic;
	width: 100%;
	text-align: center;
	padding: 0;
	margin-top: 10px;
	font-weight: 500;
}
.sec1_cnn {
	background: #cc0000;
	padding: 10px 0 0;
}
.cnn_logo {
	width: 123px;
	height: 66px;
	background: url(./images/cnn.png) no-repeat center;
	margin: 0 auto;
	display: block;
}
.sec1_box2_right {
	background: white;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 20px #a5a2a2;
}
.sec1_cnn2 {
	padding: 20px 10px;
}
.sec1_box2_right b {
	font-size: 14px;
	line-height: 1.3;
}
.sec1_box2_right p {
	line-height: 1.3;
	width: initial;
	padding: 0;
	margin: initial;
	font-size: 14px;
}

.sec2 {
	padding: 40px 0 50px;
}
.sec2 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sec2_left {
	display: block;
	padding-top: 50px;
}
.sec2_brands {
	width: 282px;
	height: 86px;
	background: url(./images/badges.png) no-repeat center;
	margin: 0 auto;
}
.sec2_right {
	display: block;
}
.sec2_price {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sec2_price em,
.sec2_price h5 {
	display: block;
}
.sec2_price em {
	text-transform: uppercase;
	width: 70px;
	font-size: 28px;
	color: #3f605b;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	padding-top: 5px;
	margin-right: 15px;
}
.sec2_price h5 {
	font-size: 60px;
	color: black;
	line-height: 1;
}
.sec2_right .sec1_box2_left {
	display: none;
}
.btn {
	position: relative;
	width: 365px;
	height: 70px;
	border: 0;
	border-radius: 30px;
	background: #ff7200;
	overflow: hidden;
	margin-top: 35px;
}
.btn em {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 42px;
	color: white;
	background: #ed5003;
	font-style: normal;
	font-weight: 700;
	padding: 13px 0 15px;
	width: 30%;
}
.btn p {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 18px;
	color: white;
	font-style: normal;
	font-weight: 600;
	padding: 18px 0 15px;
	width: 70%;
}
.sec2 .container:nth-of-type(2){
	display: none;
}

.sec3 {
	text-align: center;
	padding: 40px 0 50px;
	background: #eeeeee;
}
.sec3 a {
	color: #13506e;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
}
.sec3 p {
	font-size: 12px;
	color: #333333;
	font-style: italic;
	margin-top: 20px;
}

@media(max-width: 420px){
	.balm {
		position: relative;
		overflow: hidden;
	}
	.balm .container {
		width: 320px;
	}
	.sec1 {
		height: 407px;
		background: url(./images/bgm.jpg) no-repeat top center;
		background-size: contain;
		background-size: cover;
		height: 470px;
	}
	.sec1 .container {
		height: 470px;
		position: relative;
	}
	.sec1_left {
		width: 160px;
		position: absolute;
		left: 0;
		z-index: 0;
	}
	.sec1_left::before {
	    left: -90px;
	    width: 300px;
	    bottom: 0;
	    height: 500px;
	    z-index: 2;
	}
	.sec1_left::after {
		position: absolute;
		right: -180px;
	    top: 101px;
		content: " ";
		width: 196px;
		height: 129px;
		background: url(./images/bg2-m.png) no-repeat top;
		background-size: contain;
	    z-index: 1;
	}
	.sec1_right {
		width: 160px;
		padding: 0 7px 0 0;
		margin-left: 10px;
		position: absolute;
		right: -10px;
	}
	.sec1_right h2 {
	    font-size: 23px;
	    letter-spacing: initial;
	    width: 150px;
	    margin: 20px auto 0;
	}
	.sec1_right h3 b {
		font-size: 33px;
		letter-spacing: initial;
		margin-top: 0;	
		display: block;
		color: #084f19;
	}
	.sec1_right h3 {
	    font-size: 23px;
	    letter-spacing: initial;
	    width: 150px;
	    margin: 0 auto;
	}
	.sec1_box {
	    width: 100%;
	    background: none;
	    position: relative;
	    margin: 0;
	    padding: 20px 0 0;
	    text-align: center;
	    height: initial;
    	padding-bottom: 25px;
	}
	.sec1_right p b,
	.sec1_right p {
	    font-size: 11px;
	    margin: 0 auto;
	    padding: 0;
	    color: #174712;
	}
	.sec1_right ul {
		margin-left: 15px;
	}
	.sec1_right ul li {
		font-size: 10px;
		background-size: 14px;
		padding: 4px 0 4px 26px;
		background-position-y: 0px;
	}
	.sec1_box2 {
		width: 320px;
		margin-top: 5px;
	}
	.sec1_box2_left {
		display: none;
	}
	.sec1_box2_right {
		width: 150px;
		padding-bottom: 1px;
	}
	.cnn_logo {
	    width: 55px;
	    height: 30px;
	    background-size: contain;
	}
	.sec1_cnn2 {
		padding: 7px;
	}
	.sec1_right .sec1_cnn2 p b,
	.sec1_right .sec1_cnn2 p {
		font-size: 8.5px;
		color: black;
	}

	.sec2 {
		padding: 85px 0 0;
	}
	.sec2_left {
		padding: 0;
		width: 150px;
	}
	.sec2_brands {
		background:  url(./images/2bottles.png) no-repeat center top;
		width: 146px;
		height: 114px;
		margin: 0 auto;
		background-size: contain;
	}
	.sec2_right {
		width: 150px;
	}
	.sec2_right .sec1_box2_left {
		display: block;
		width: 150px;
		padding: 0;
	}
	.sec1_box2_left h5 {
		font-size: 11px;
	}
	.sec1_box2_left p {
		font-size: 8px;
		margin-top: 3px;
	}
	.sec2_price {
		margin-top: 7px;
	}
	.sec2_price em {
	    width: 35px;
	    font-size: 13.5px;
	    padding-top: 3px;
	    margin-right: 5px;
	}
	.sec2_price h5 {
		font-size: 30px;
	}
	.sec2_right .btn {
		display: none;
	}
	.sec2 .container:nth-of-type(2){
		display: block;
	}
	.btn {
	    width: 260px;
	    height: 50px;
	    margin: 20px auto;
	    display: block;
	}
	.btn em {
	    font-size: 21px;
	    padding: 15px 0;
	}
	.btn p {
	    font-size: 12px;
	    padding: 15px 0;
		width: 67%;
		margin-right: 10px;
	}

	.sec3 a {
		font-size: 12px;
	}
	.sec3 p {
		font-size: 10px;
	}
}