* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.moist .container {
	width: 1065px;
	margin: 0 auto;
}

.sec1 {
	padding: 20px 0;
	background: #464143;
}
.sec1 p {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	text-align: center;
}
.sec1 em {
	font-size: 17px;
	color: #ffd800;
	font-weight: 600;
	font-style: normal;
}

.sec2 {
	min-height: 760px;
	background: url(./images/upsell_v.png) top center no-repeat;
}
.sec2 .container:nth-of-type(1){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec2_left {
	display: block;
	padding: 25px 0;
}
.sec2_logo {
	width: 162px;
	height: 74px;
	background: url(./images/upsell_logo.png) no-repeat top center;
	background-size: contain;
}
.sec2_right {
	display: block;
	width: 300px;
}
.sec2_right p {
	background: #ca473c;
	font-size: 14px;
	font-style: normal;
	color: white;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.sec2_right em {
	font-size: 14px;
	font-style: normal;
	color: yellow;
	font-weight: 700;
}
.sec2_bc {
	width: 240px;
	height: 60px;
	background: url(./images/bc.png) no-repeat top center;
	background-size: contain;
	margin: 10px auto 0;
}
.sec23 {
	display: none;
}
.sec22 {
 	position: relative;
 	/*ffd3ca*/
	background:  url(./images/upsell_bg.png) no-repeat top center;
}
.sec22 .container {
	min-height: 635px;
	display: initial;
	position: relative;
}
.sec22 .container::before {
	position: absolute;
	content: "";
    width: 634px;
    height: 752px;
    background: url(./images/upsell3-model.png) no-repeat;
    background-size: contain;
    bottom: -99px;
    right: -121px;
}
.sec22_left {
	width: 700px;
}
.sec22 h4 {
	color: #ca473c;
	font-size: 32px;
	font-weight: 100;
	padding: 30px 50px 15px 0;
}
.sec22 h3 {
	font-size: 54px;
	color: #464143;
	text-transform: uppercase;
	font-weight: 500;
}
.sec22_figures {
	position: relative;
	margin-top: 30px;
}
.sec22 h5 {
	color: #464143;
	font-size: 36px;
	text-transform: uppercase;
	position: absolute;
	top: 32px;
	left: 0;
}
.step4 {
	width: 102px;
	height: 102px;
	background: url(./images/step4.png) no-repeat top center;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 90px;
	z-index: 3;
}
.sec22_bottle {
	width: 270px;
	height: 208px;
	background: url(./images/upsell_bottle.png) no-repeat top center;
	background-size: contain;
	position: absolute;
	top: 20px;
	left: 115px;
}
.sec22_ba {
	width: 288px;
	height: 158px;
	background: url(./images/beforeafter.png) no-repeat top center;
	background-size: contain;
	position: absolute;
	top: 30px;
	left: 410px;
}
.sec22 h2 {
	font-size: 36px;
	color: #ca473c;
	margin-top: 300px;
}
.sec22 b {
	color: #464143;
	font-size: 18px;
	line-height: 1.4;
	width: 515px;
}
.sec22 p {
	color: #464143;
	font-size: 18px;
	line-height: 1.4;
	margin-top: 20px;
	width: 515px;
}

.sec3 {
	min-height: 200px;
	background: #ca473c url(./images/redbg.png) no-repeat  top center;
	padding: 35px 0 0;
}
.sec3 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec3_pack {
	background: url(./images/pack1.png) no-repeat;
	background-size: contain;
	display: block;
	width: 294px;
	height: 173px;
	margin-top: 10px;
	padding-left: 90px;
	padding-top: 35px;
}
.sec3_pack:nth-of-type(2){
	background: url(./images/pack2.png) no-repeat;
	background-size: contain;
}
.sec3_pack:nth-of-type(3){
	background: url(./images/pack3.png) no-repeat;
	background-size: contain;
}
.sec3_pack:nth-of-type(4){
	background: url(./images/pack4.png) no-repeat;
	background-size: contain;
	margin-top: 40px;
}
.sec3_pack h5 b {
	font-size: 12px;
	font-weight: 700;
	color: red;
}
.sec3_pack h5 {
	width: 155px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}
.sec3_pack h4 {
	color: #e4a39d;
	font-size: 22px;
	width: 155px;
    line-height: 1;
    text-transform: uppercase;
}
.sec3_pack p {
	color: #a29f98;
	font-size: 12px;
	width: 155px;
	margin-top: 17px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
}
.sec3_pack:nth-of-type(4) h4 {
	color: #ca473c;
}
.sec3_pack:nth-of-type(4) p {
	color: #464143;
}

.sec4 {

}
.sec4 h4 {
	color: #464143;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	padding: 60px 0 40px;
}
.sec4 .container {
	width: 700px;
}
.sec4 .container:nth-of-type(2){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec4_pack {
	width: 320px;
	height: 560px;
	background: url(./images/packbh.png) no-repeat;
	background-size: contain;
	position: relative;
}
.sec4_pack:nth-of-type(2) h3{
  padding-top: 33px;
}
.sec4_pack:nth-of-type(2) h5 {
  margin-top: 29px;
}
.sec4_pack:nth-of-type(2) p {
  margin-top: 29px;
}
.sec4 h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding: 20px 30px;
}
.sec4_bottle {
	background: url(./images/upsellbottle1.png) no-repeat;
	background-size: contain;
	width: 124px;
	height: 96px;
	margin: 60px auto 0;
}
.sec4_bottle3 {
	background: url(./images/upsellbottle3.png) no-repeat;
	background-size: contain;
	width: 251px;
	height: 68px;
	margin: 90px auto 0;
}
.sec4_free20 {
	background: url(./images/off20.png) no-repeat;
	background-size: contain;
	width: 77px;
	height: 77px;
	margin: 0 auto;
	position: absolute;
	right: 60px;
	top: 125px;
}
.sec4_free {
	background: url(./images/free.png) no-repeat;
	background-size: contain;
	width: 77px;
	height: 77px;
	margin: 0 auto;
	position: absolute;
	right: 0px;
	top: 125px;
}
.sec4 h5 {
	font-size: 21px;
	display: block;
	color: #464143;
	margin-top: 20px;
	text-align: center;
	padding: 0 40px;
	text-transform: uppercase;
}
.sec4 p {
	font-size: 18px;
	color: #464143;
	text-align: center;
	display: block;
	text-transform: uppercase;
	margin-top: 50px;
}
.sec4 em {
	text-align: center;
	font-size: 36px;
	font-style: normal;
	color: #464143;
	font-weight:700;
	margin-top: 15px;
	display: block;
}
.sec4 i {
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	font-style: normal;
	color: #464143;
	display: block;
}
.sec4_btn {
	background: #7bac1a;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
    border: 0;
    border-radius: 30px;
    margin: 40px auto 0;
    display: block;
    width: 225px;
    padding: 15px 5px;
    font-weight: 500;
}
.sec4 a {
	font-size: 21px;
	color: #8b8b8b;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 20px;
}

@media(max-width: 420px) {
	.moist {
		position: relative;
		overflow: hidden;
	}
	.moist .container {
		width: 320px;
		margin: 0 auto;
	}
	.sec1 {
		padding: 10px 0;
	}
	.sec1 p em {
		font-size: 12px;
		display: block;
	}
	.sec1 p {
		font-size: 12px;
		padding: 0 40px;
	}

	.sec2 {
		min-height: initial;
		height: 360px;
		background-size: 126%;
		background-position: 99px 0;
	}
	.sec2_left {
		padding: 10px 0;
	}
	.sec2_logo {
	    width: 105px;
	    height: 50px;
	}
	.sec2_right {
		width: 160px;
	}
	.sec2_right p em,
	.sec2_right p {
		font-size: 7.5px;
	}
	.sec2_right p {
		padding: 3px 5px;
	}
	.step4,
	.sec22_bottle,
	.sec22 .container::before,
	.sec2_logo {
		/*display: none;*/
	}
	.sec2_bc {
		width: 120px;
		height: 30px;
		margin-top: 5px;
		background-size: contain;
	}
	.sec22 {
		height: 302px;
	}
	.sec22 .container {
		min-height: initial;
	}
	.sec22 .container::before {
		bottom: -147px;
		right: -80px;
		width: 320px;
		height: 328px;
		background-size: 120%;
	}
	.sec22_left {
		width: 320px;
	}
	.step4  {
		width: 53px;
		height: 53px;
		top: -15px;
		left: 75px;
	}
	.sec22_bottle {
		height: 102px;
		left: 0;
		top: 60px;		
		width: 134px;
	}

	.sec22 h4 {
		font-size: 16px;
		width: 170px;
		padding: 25px 0px 10px 0;
	}
	.sec22 h3 {
		font-size: 24px;
		width: 170px;
	}
	.sec22 h5 {
		top: 0px;
		left: 25px;
		font-size: 18px;
	}
	.sec22 .container:first-of-type h2,
	.sec22 .container:first-of-type p {
		display: none;		
	}
	.sec23 {
		display: block;
	}
	.sec23 h2 {
		font-size: 18px;
		color: #ca473c;
		margin-top: 40px;
	}
	.sec23 b {
		color: #464143;
		font-size: 18px;
		line-height: 1.4;
		width: 515px;
	}
	.bc2 {
		display: flex;
		width: 320px;
		flex-direction: row;
		justify-content: space-between;
	}
	.sec23 p b {
		color: #464143;
		font-size: 10.5px;
		line-height: 1.4;		
	}
	.sec23 p {
		color: #464143;
		font-size: 10.5px;
		line-height: 1.4;
		margin-top: 10px;
		width: 155px;
		display: block;
	}
	.bc2 .sec22_ba {
		display: block;
		position: initial;
		height: 78px;
		width: 145px;
		margin-top: 30px;
	}
	.sec3 {
		display: none;
	}
	.sec4 h4 {
		font-size: 18px;
		padding: 30px 0 15px;
	}
	.sec4 .container:nth-of-type(2) {
		flex-direction: column-reverse;
	}
	.sec4_pack {
		width: 320px;
		height: 163.5px;
		background: url(./images/pack1m.png) no-repeat center;
		background-size: contain;
		margin-bottom: 20px;
	}
	.sec4_pack:last-of-type {
		width: 320px;
		height: 163.5px;
		background: url(./images/pack2m.png) no-repeat center;
		background-size: contain;
	}
	.sec4_pack:nth-of-type(1) h3,
	.sec4_pack:nth-of-type(2) h3 {
		padding-top: 13px;
		font-size: 15px;
	}
	.sec4_bottle3,
	.sec4_bottle {
		display: none;
	}
	.sec4_pack:nth-of-type(2) p {
		margin-top: 10px;
	}
	.sec4 p {
		font-size: 12px;
		margin-top: 0;
		padding: 0 20px;
	}
	.sec4 em {
		margin-top: 5px;
		font-size: 24px;
	}
	.sec4 i {
		font-size: 9px;
		margin-top: 5px;
	}
	.sec4_btn {
	    font-size: 10px;
	    margin: 10px auto 0;
	    width: 110px;
	    padding: 10px 5px;
	}
	.sec4_mm {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.sec4_pack:nth-of-type(2) h5,
	.sec4 h5 {
	    font-size: 13px;
	    display: block;
	    width: 150px;
	    margin: 0;
	    padding: 0 10px;
	    margin-top: 82px;
	}
	.sec4_m {
		width: 150px;
		display: block;
	}
	.sec4_free20,
	.sec4_free {
	    width: 50px;
	    height: 50px;
	    right: 165px;
	    top: 49px;
	}
	.sec4_free20 {
		right: 128px;
	}
	.sec4 a {
		font-size: 11px;
		padding: 0 10px 30px;
	}
}
