* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.upget {
	background: black;
	min-height: 95vh;
}
.upget .container {
	width: 320px;
	height: 500px;
	margin: 0 auto;
	background: url(./images/upgetbg.jpg) no-repeat top center;
	background-size: contain;
	position: relative;
}

.sec1 {
	padding: 40px 0 0;
}
.sec1 h4 {
	color: #464143;
	font-size: 17px;
	text-transform: uppercase;
	padding: 90px 20px 0;
	text-align: center;
}
.sec1_content {
	width: 150px;
	position: absolute;
	right: 50px;
	top: 160px;
	text-align: center;
}
.sec1_badge {
	width: 110px;
	height: 110px;
	background: url(./images/off50.png) no-repeat center;
	background-size: contain;
	margin: 0 auto;
}
.sec1 i {
	color: #464143;
	font-size: 11px;
	display: block;
}
.sec1 b {
	color: #464143;
	font-size: 11px;
	font-weight: 700;
	font-style: normal;
	display: block;
	margin: 3px 0 0px;
}
.sec1 em {
	display: block;
	color: #464143;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
}
.sec1_btn {
	background: #7bac1a;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
    border: 0;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    width: 284px;
    padding: 15px 5px;
    margin-top: 285px;
    font-weight: 500;
}
.sec1 a {
	color: #8b8b8b;
	font-size: 11px;
	text-align: center;
	margin: 10px auto 0;
	display: block;
}