* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.vip {
	background: black;
	min-height: 95vh;
}
.vip .container {
	width: 320px;
	height: 500px;
	margin: 0 auto;
	background: url(./images/vipbg.jpg) no-repeat top center;
	background-size: contain;
	position: relative;
}

.sec1 {
	padding: 40px 0 0;
}
.sec1 h4 {
	color: #464143;
	font-size: 12px;
	text-transform: uppercase;
	padding: 90px 20px 0;
	text-align: center;
}
.sec1_badge {
	width: 65px;
	height: 65px;
	background: url(./images/freebonus.png) no-repeat top center;
	background-size: contain;
	position: absolute;
	top: 147px;
	left: 57px;
}
.sec1 h3 {
	font-size: 12px;
	text-align: center;
	color: #464143;
	margin-top: 140px;
}
.sec1 ul {
	margin: 0 auto;
	list-style-type: none;
	width: 300px;
	margin-bottom: 18px;
	padding-left: 20px;
}
.sec1 li {
	color: #464143;
	font-size: 12px;
	text-transform: uppercase;
	background: url(./images/greenarrow.png) no-repeat  left;
    padding: 5px 0 0 30px;
    background-size: 17px;
    background-position: 5px 5px;
	font-weight: 500;
}
.sec1 li b {
	font-size: 12px;
	text-transform: uppercase;
}
.sec1 h5 {
	font-size: 9px;
	text-align: center;
	color: #464143;
	font-weight: 400;
	padding: 3px 40px 10px;
}
.sec1_btn {
	background: #7bac1a;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
    border: 0;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    width: 284px;
    padding: 15px 5px;
    font-weight: 500;
}
.sec1  i {
	color: #8b8b8b;
	font-size: 9px;
	text-align: center;
	margin: 10px auto 0;
	display: block;
	padding: 0 30px;
}
.sec1 a {
	color: #8b8b8b;
	font-size: 11px;
	text-align: center;
	margin: 10px auto 0;
	display: block;
}