* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.mainClass .container {
	width: 1100px;
	margin: 0 auto;
}

.sec1 {
	background: #041e4f;
	padding: 20px;
}
.sec1 h3 {
	font-size: 24px;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
.sec1 em {
	color: #ffc024;
	font-style: normal;
	font-size: 24px;
	font-weight: 500;
}
.sec1 .container {
	position: relative;
}
.sec1 .container:before {
	content: " ";
	position: absolute;
	left: 44%;
	bottom: -32px;
	width: 33px;
	height: 14px;
	background: url(./images/arrow.png) no-repeat;
}

.sec2 {
	background: #edf7fc;
}
.sec2 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 20px 35px;
}
.sec2_left {
	display: block;
	width: 475px;
}
.sec2_right {
	display: block;
	width: 665px;
}
.sec2_logo {
	width: 261px;
	height: 133px;
	background: url(./images/logo.png) no-repeat;
	display: block;
	margin: 20px auto 50px;
}
.sec2 h3 {
	font-size: 53px;
	color: #1a3252;
	display: block;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 30px;
}
.sec2 h3 em {
	font-size: 80px;
	color: #1a3252;
	display: block;
	line-height: 1;
	font-weight: 600;
	font-style: normal;
}
.sec2_left p {
	font-style: 16px;
	color: #1a3252;
	margin: 10px 0 ;
}
.sec2 b {
	font-size: 16px;
	color: #1a3252;
}
.sec2_mobile {
	display: none;
}
.sec2_bottles {
	width: 612px;
	height: 479px;
	background: url(./images/bottles.png) no-repeat;
	display: block;
	margin: 0 auto;
	position: relative;
}
.sec2_bottles:before {
	width: 216px;
	height: 216px;
	content: " ";
	position: absolute;
	bottom: -70px;
	left: -15px;
	background: url(./images/joint.png) no-repeat;
}
.sec2_right {
	text-align: center;
}
.sec2_right p {
	color: #1a3252;
	font-size: 24px;
	text-transform: uppercase;
}
.sec2_right p em {
	color: #fa9458;
	font-size: 64px;
	text-decoration: underline;
	display: block;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	line-height: .7;
}

.sec3 {
	padding: 50px 20px 20px;
}
.sec3 h3 {
	color: #f7992e;
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}
.sec3 .container:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sec3_benefit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}
.sec3_left {
	display: block;
}
.sec3_benefit1 {
	width: 449px;
	height: 176px;
	background: url(./images/benefit1.jpg) no-repeat;
}
.sec3_benefit2 {
	width: 449px;
	height: 176px;
	background: url(./images/benefit2.jpg) no-repeat;
}
.sec3_benefit3 {
	width: 449px;
	height: 176px;
	background: url(./images/benefit3.jpg) no-repeat;
}
.sec3_right {
	width: 465px;
	padding: 0 20px;
}

.sec3_right p {
	color: #173253;
	font-size: 16px;
}
.sec3_right h3 {
	color: #f7992e;
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 25px;
}

.sec4 {
	margin-top: 70px;
}
.sec4 .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	min-height: 165px;
	/*padding: 40px 0*/
}
.sec4_left {
	display: block;
	position: relative;
	flex: 1;
	padding: 40px 0 ;
}
.sec4_left:before {
	content: " ";
	position: absolute;
	width: 176px;
	height: 224px;
	background: url(./images/bottle2.png) no-repeat;
	left: 0;
	top: -30px;
}
.sec4 .container:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 224px;
	background: url(./images/shadow.png) top center no-repeat;
	left: 0;
	top: -22px;
}
.sec4_right {
	display: block;
	flex: 1;
	padding: 40px 0 ;
}
.sec4_left h4 {
	color: #f7992e;
	font-size: 22px;
	width: 365px;
	margin-top: 23px;
	float: right;
}
.sec4_logo {
	width: 338px;
	height: 87px;
	background: url(./images/logo2.png) no-repeat;
	margin: 0 auto
}

.sec5 {
	background: #354ebe;
	text-align: center;
	padding: 40px 0;
}
.sec5 h3 {
	font-size: 32px;
	color: white;
	text-transform: uppercase;
}
.sec5 h4 {
	font-size: 32px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
}

.sec6 {

}
.sec6 .container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 30px 0;
}
.sec6_box {
	width: 355px;
	min-height: 500px;
	background: url(./images/bg.jpg) no-repeat;
	border-radius: 7px;
	background-size: cover;
	padding-bottom: 30px;
}
.sec6_box {
	width: 355px;
	min-height: 500px;
	background: url(./images/bg.jpg) no-repeat;
	border-radius: 7px;
	background-size: cover;
	padding-bottom: 30px;
}
.sec6_box h4 {
	font-size: 36px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-top: 35px;
}
.sec6_box em {
	font-size: 36px;
	color: #2741b9;
	text-align: center;
	font-weight: 700;
	font-style: normal;
	margin-top: 5px;
	display: block;
}
.sec6_box p {
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
	font-weight: 600;
}
.sec6_5bottles {
	width: 286px;
	height: 191px;
	background: url(./images/5bottles.png) no-repeat;
	margin: 15px auto;
}
.sec6_3bottles {
	width: 202px;
	height: 191px;
	background: url(./images/3bottles.png) no-repeat;
	margin: 15px auto;
}
.sec6_1bottle {
	width: 97px;
	height: 191px;
	background: url(./images/1bottle.png) no-repeat;
	margin: 15px auto 35px;
}
.sec6_box b {
	font-size: 20px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	background: black;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 5px auto 0;
	display: block;
	width: 195px;
}
.sec6_btn {
	color: white;
	background: #2740b8;
	text-transform: uppercase;
	font-size: 33px;
	text-align: center;
	padding: 20px 20px;
	width: 320px;
	display: block;
	border: 0;
	margin: 20px auto;
	border-radius: 35px;
	font-weight: 700;
}
.sec6_box .sec6_left b {
	display: none;
}

.sec7 a {
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 20px;
}
.sec2_btn {
	display: none;
}

@media(max-width: 420px) {
	.mainClass {

	}
	.mainClass .container {
		width: 320px;
	}

	.sec1 {
		padding: 5px 0;
	}
	.sec1 .container:before {
		bottom: -15px;
	}
	.sec1 h3 em,
	.sec1 h3 {
		font-size: 12px;
	}

	.sec2 .container {
		padding: 0;
		flex-direction: column;
	}
	.sec2_left {
		padding: 10px 0;
		width: 320px;
	}
	.sec2_logo {
	    width: 135px;
	    height: 70px;
	    margin: 0 auto;
	    background-size: contain;
	}
	.sec2 h3 {
		font-size: 30px;
		text-align: center;
		margin: 5px 0 15px 0;
	}
	.sec2_left p {
		display: none;
	}
	.sec2_right {
		width: 320px;
	}
	.sec2_bottles {
	    width: 302px;
	    height: 236px;
	    background: url(./images/bottlem.png) no-repeat center;
	    display: block;
	    margin: 0 auto;
	    background-size: contain;
	    position: relative;
	}
	.sec2_bottles:before {
	    width: 95px;
	    height: 95px;
	    bottom: -24px;
	    left: 1px;
	    background-size: contain;
	}
	.sec2 h3 em {
		text-align: center;
		font-size: 50px;
	}
	.sec2_right p {
		font-size: 12px;
		margin-top: 6px;
	}
	.sec2_right p em {
		font-size: 32px;
		line-height: 1;
	}
	.sec2_btn {
	    color: white;
	    background: #2740b8;
	    text-transform: uppercase;
	    font-size: 20px;
	    text-align: center;
	    padding: 20px 2px;
	    width: 300px;
	    display: block;
	    border: 0;
	    margin: 15px auto 20px;
	    border-radius: 35px;
	    font-weight: 700;
	}
	.sec2_mobile {
		display: block;
		width: 300px;
		margin: 0 auto;
	}
	.sec2_mobile b {
		font-size: 12px;
		text-transform: initial;
	}
	.sec2_mobile p {
		font-size: 12px;
		color: #1a3252;
		text-transform: initial;
		margin: 20px 0 ;
		text-align: left;
	}
	.sec3 {
		padding: 35px 0 10px;
	}
	.sec3 h3 {
		font-size: 30px;
		margin-bottom: 0;
	}
	.sec3_benefit {
		flex-direction: column;
		margin-top: 25px;
	}
	.sec3_benefit1,
	.sec3_benefit2,
	.sec3_benefit3,
	.sec3_benefit4 {
	    width: 225px;
	    height: 92px;
	    background-size: contain;
	    margin: 0 auto;
	}
	.sec3_right {
		width: 280px;
		margin: 0 auto;
		padding: 0;
	}
	.sec3 .sec3_right h3 {
		font-size: 18px;
		margin: 10px auto;
		text-align: center;
	}
	.sec3_right p {
		font-size: 12px;
		text-align: center;
	}

	.sec4 {
		margin-top: 30px;
	}
	.sec4 .container {
		flex-direction: column;
	}
	.sec4_left:before {
	    width: 85px;
	    height: 115px;
	    left: 5px;
	    top: -6px;
	    background-size: contain;
	}
	.sec4_left {
		padding: 15px 0;
	}
	.sec4_left h4 {
		width: 200px;
		font-size: 18px;
	}
	.sec4_right {
		padding: 10px 0;
	}
	.sec4_logo {
	    width: 300px;
	    height: 75px;
	    background-size: contain;
	}
	.sec5 {
		padding: 35px 0;
	}
	.sec5 h3 {
		font-size: 26px;
	}
	.sec5 h3 {
	    font-size: 26px;
	}
	.sec5 h4 {
		font-size: 21px;
		margin-top: 25px;
	}

	.sec6 .container {
		flex-direction: column;
	}
	.sec6_box {
		width: 300px;
		margin: 0 auto 10px;
		padding-bottom: 0;
		height: 175px;
		min-height: initial;
	}
	.sec6_boxcont {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
	}
	.sec6_left {
		display: block;
		width: 125px;
	}
	.sec6_right {
		display: block;
	}
	.sec6_box h4 {
		font-size: 17px;
		width: 105px;
		margin: 10px auto 0;
	}
	.sec6_box em {
		font-size: 24px;
	}
	.sec6_box p {
	    font-size: 9px;
	    margin-top: 2px;
	}
	.sec6_box  b {
		display: none;
	}
	.sec6_box .sec6_left b {
	    font-size: 12px;
	    display: block;
	    padding: 5px 5px;
	    margin: 5px auto 0;
	    display: block;
	    width: 100px;
	}
	.sec6_right {
		width: 145px;
	}
	.sec6_5bottles {
		width: 145px;
		height: 97.5px;	
		background-size: contain;
		background-position: center;
		margin: 10px auto;
	}
	.sec6_1bottle {
		width: 50;
		height: 97.5px;	
		background-size: contain;
		background-position: center;
		margin: 10px auto;
	}
	.sec6_3bottles {
		width: 100px;
		height: 87.5px;	
		background-size: contain;
		margin: 10px auto;
		background-position: center;
	}
	.sec6_btn {
	    font-size: 20px;
	    padding: 13px 2px;
	    width: 175px;
	    margin: 2px auto 20px;
	}
	.sec7 a {
		font-size: 15px;
	}
}