* {
	margin: 0px;
	padding: 0px;
}
.indexMain * {
	margin: 0px;
	padding: 0px;
	line-height: 120%;
	color: #212121 ;
	font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
}
.indexMain {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-top-width: 10px;
	border-top-color: #c5c5c5;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	border-style: solid;
}

.indexMain .container {
	width: 320px;
	margin: 0 auto;
}

.indexMain header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.indexMain header .logo {
	margin-top: 5px;
	display: block;
	width: 133px;
	height: 48px;
	background:url(./images/logo.jpg) no-repeat;
}
.indexMain header div {
	width: 150px;
	display: block;
}
.indexMain header div h3 {
	float: left;
	padding: 20px 0 0 10px;
	font-family: "Roboto";
	color: #6c6c6c;
}

.sec1 {
	height: 349px;
	position: relative;
}
.sec1::before {
	content: " ";
	position: absolute;
	width: 420px;
	height: 349px;
	left: -50px;
	top: 0px;
	background: url(./images/hero.jpg) no-repeat;
	z-index: 0;
}
.sec1_content {
	position: relative;
	width: 150px;
	/*background: orange;*/
	float: right;
	text-align: center;
	margin: 15px 5px;
}

.sec1_content h2 {
	color: #64b6b0;
	font-size: 13px;
	font-family: sans-serif;
}
.sec1_content h3 {
	text-transform: uppercase;
	font-family: "Myriad Pro";
	color: #222222;
	font-size: 31px;
	font-weight: 800;
	letter-spacing: -1px;
	margin-top: 5px;
	display:inline-block;
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
    transform:scale(1,1.5); /* W3C */
}
.sec1_content h4 {
	color: #6c6c6c;
	text-transform: uppercase;
	font-family: "Roboto";
	font-size: 10px;
}
.sec1_content ul {
	margin: 0 auto;
}
.sec1_content ul li {
	position: relative;
	list-style-type: none;
	text-align: left;
	font-weight: 700;
	font-style: italic;
    padding-left: 15px;
    margin: 10px 0;
    font-size: 12px;
}
.sec1_content ul li:before {
    position: absolute;
    height: 16px;
    width: 16px;
    content: " ";
    background: url(./images/arrow.png) left top no-repeat;
    background-position: left 3px;
    left: -2px;
    top: 0px;
}

.satisfaction {
	position: absolute;
    bottom: 73px;
    z-index: 4;
    left: -35px;
	width: 66px;
	height: 67px;
	background: url(./images/satisfaction.png) no-repeat;
}

.sec1_right {
	background:#c5c5c5;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
	width: 285px;
}

.sec1_right h3 {
	text-transform: uppercase;
	color: white;
	font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.sec1_right h4 {
	text-transform: uppercase;
	font-family: "Roboto";
    text-align: center;
    font-size: 17px;
    background: white;
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    color: #5a5a5a;
}
.sec1_right h4 em {
	background: #cd4782;
    border-radius: 3px;
    color: white;
    font-style: normal;
    padding: 2px 5px;
    font-weight: 800;
    font-size: 17px;
    font-family: "Roboto";
    margin: 0px;
}
.sec1_right form {
	background: white;
	border-radius: 4px;
	text-align: center;
}
.sec1_right .btn {
	display: inline-block;
	font-size: 20px;
	padding: 15px 45px 15px 15px;
	margin: 15px auto;
    background: #cd4784 url(./images/arrow2.png) 155px center no-repeat;
}
.btn {
    background: #cd4784 url(./images/arrow3.png) 123px center no-repeat;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px 20px 12px 10px;
    border-radius: 25px;
    border: 0px;
    font-family: "Roboto";
    font-weight: 800;
    margin: 10px auto;
    text-decoration: none;
    display: block;
}
.seen {
	top: -22px;
	position: relative;
	z-index: 3;
}
.seen em {
	font-size: 12px;
	margin-left: 12px;
}
.media {
	width: 300px;
	height: 21px;
	margin: 0 auto;
	background: url(./images/media.jpg) no-repeat;
}
.secure {
	margin: 0 auto;
	width: 189px;
	height: 64px;
	background: url(./images/secure.jpg) no-repeat;
}
.sec2 {
	background: #a0a0a0;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	display: block;
	width: 100%;
}
.sec2 h2 {
	color: white;
	font-size: 24px;
	text-align: center;
	font-weight: 800;
	padding: 10px 20px 0px 20px;
	margin: 10px 0;
	font-family: "Roboto";
	text-transform: uppercase;
}
.sec2_left {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: white;
	position: relative;
	overflow: hidden;
}
.man {
	width: 320px;
	height: 200px;
	background: url(./images/man.jpg) no-repeat;
}
.forget {
	color: white;
	padding: 15px 20px;
	font-size: 15px;
	font-weight: 600;
	font-family: "Roboto";
	letter-spacing: 0;	
}
.sec2_right {
	background: white;
	padding: 20px 20px 10px;
}
.sec2_right h3 {
	font-size: 20px;
	font-weight: 800;
	font-family: "Roboto";
	margin-bottom: 10px;
}
.sec2_right p {
	margin-bottom: 20px;
	font-size: 14px;
}
.percentage {
	background: white;
	padding-top: 1px;
}
.percen {
	position: relative;
	background: #a5f7f1;
	border-bottom-right-radius: 29px;
	border-top-right-radius: 29px;
	overflow: hidden;
	margin: 10px 0;
	color: white;
	height: 37px;
	width: 320px;
}
.percen p {
	position: absolute;
	z-index: 2;
	color: white;
	padding: 12px 8px;
	font-size: 10px;
	font-style: italic;
	font-family: "Roboto";
}
.percen p::before {
	content: " ";
	position: absolute;
	left: 0px;
	top: 0px;
	background: #64b6b0;
	height: 100%;
	z-index: -1;
}
.percen:first-child p::before {
	width: 281px;
}
.percen:nth-child(2) p::before {
	background: #84d6d0;
	width: 252px;
}
.percen:last-child p::before {
	width: 320px;
}

.sec3 {
	margin-top: 35px;
}

.sec3 h2 {
	font-size: 21px;
	text-align: center;
	font-weight: 800;
	padding-top: 5px;
	font-family: "Roboto";
	text-transform: uppercase;
}
.steps {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 320px;
}
.step {
	display: block;
	width: 204px;
	margin: 0 auto;
	margin-top: 10px;
}
.step figure {
	width: 201px;
	height: 201px;
	margin: 0 auto;
}
.step1 {
	background: url(./images/step1.jpg) center no-repeat;
}
.step2 {
	background: url(./images/step2.jpg) center no-repeat;
}
.step3 {
	background: url(./images/step3.jpg) center no-repeat;
}
.step h3 {
	font-family: "Roboto";
	text-transform: uppercase;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	margin: 20px 10px 0;
}
.step p {
	color: #6c6c6c;
	font-family: "Roboto";
	font-size: 14px;
}
.feedback {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.feedback figure {
	position: relative;
	display: block;
	width: 320px;
	height: 94px;
	margin-top: 10px;
}
.before {
	background: url(./images/before.jpg) no-repeat;
}
.after {
	background: url(./images/after.jpg) no-repeat;
}
.feedback figcaption {
	background: #64b6b0;
	position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 4px 0px;
    min-width: 90px;
    color: white;
    border-top-left-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}
.comment {
	text-align: center;
	margin: 20px auto;
    font-size: 14px;
    font-style: italic;
    width: 260px;
}
.comment label {
	margin-top: 5px;
	font-weight: 800;
	font-family: "Roboto";
	display: block;
}
.cta {
	width: 100%;
	box-shadow: 0px 0px 90px #bfbdbd;
	margin-bottom: 50px;
}
.cta_back {
	background: url(./images/cta.png) no-repeat;
	background-size: 100% 100%;
    width: 100%;
    padding: 20px;
}
.cta h3 {
    text-align: center;
    font-family: "Roboto";
    font-size: 17px;
    color: white;
}
.cta_bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	padding: 5px 0;
}
.cta h2 {
	display: block;
	text-align: center;
	font-family: "Roboto";
	text-transform: uppercase;
	font-size: 17px;
	margin: 5px 0;
	color: #888888;
	letter-spacing: 0;
}
.first {
	text-align: right;
}
.cta .btn {
    display: block;
    background: #cd4784 url(./images/arrow2.png) 165px center no-repeat;
    border: 5px solid white;
    padding: 20px 55px 20px 20px;
    border-radius: 40px;
    margin: 0 auto;
    font-size: 16px;
}

.sec4 {
	background: #85d7d1;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	min-height: 700px;
}
.sec4 h2 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-family: "Roboto";
	padding: 10px 40px;
}
.covered {
	height: 440px;
	background: white url(./images/lady.jpg) top right no-repeat;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	position: relative;
}
.spot {
	background: rgba(255,255,255,.3);
	text-transform: uppercase;
	font-size: 14px;
	border:1px dashed white;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	position: absolute;
}
.spot em {
    font-size: 7px;
    font-weight: normal;
    text-align: center;
    display: -webkit-box;
    line-height: 1;
    margin-top: 11px;
    color: #383737;
    padding: 3px;
}
.forehead {
	right: 148px;
	top: 118px;
}
.crow {
	left: 36px;
	top: 147px;
}
.dark {
	right: 179px;
	top: 182px;
}
.laugh {
	right: 88px;
	top: 219px;
}
.age {
	right: 58px;
	top: 180px;
}
.banana {
	right: 185px;
	top: 255px;
}
.covered_b {
	background-color: white;
	padding: 15px 20px;
}
.covered_b p {
	font-size: 14px;
	font-family: "Roboto";
	margin-top: 15px;
}
.covered_b em {
	font-weight: 700;
	font-size: 14px;
	font-style: normal;
	font-family: "Roboto";
}
.moisturize {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 425px;
	background: rgba(255,255,255,.7);
}
.bottles {
	width: 434px;
	height: 384px;
	background: url(./images/bottles.jpg) center no-repeat;
	margin: 40px 0px 0px 30px;
	float: left;
}
.bottles h3 {
    font-size: 50px;
    font-family: "Roboto";
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 0;
    width: 335px;
    letter-spacing: -1px;
}
.bottles h4 {
	font-size: 21px;
	color: #7fc1bc;
	font-family: "Roboto";
}
.protect {
	float: left;
	width: 465px;
	padding: 0px  15px;
}
.protect p {
	width: initial;
	margin: 0px;
	font-size: 14px;
}
.protect h4 {
	margin-top: 30px;
	color: #64b6b0;
	font-size: 18px;
}

.indexMain .sec5 {
	margin-top: 20px;
	min-height: 350px;
}
.nos {
	background: #f1f4f9;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.checklist {
    position: relative;
    color: #cf4787;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Roboto";
    display: block;
    letter-spacing: -1px;
    text-align: center;
    padding: 7px;
    text-align: left;
    padding-left: 60px;
}
.checklist::before {
    position: absolute;
    height: 30px;
    width: 27px;
    content: " ";
    background: url(./images/arrow4.png) left center no-repeat;
    background-position: left 3px;
    left: 30px;
    top: 7px;
}
.beforeafter {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 35px;
}
.feed {
	/*display: block;*/
}
.beforeafter figure {
	margin-top: 25px;
	width: 320px;
	height: 107px;
	position: relative;
}
.bef,.aft {
   position: absolute;
    left: 79px;
    bottom: 0px;
    background: #62b7b0;
    min-width: 80px;
    text-align: right;
    padding: 3px 0px;
    border-top-left-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    font-size: 12px;
}
.aft {
	left: initial;
    right: 0px;
}
.ba1 {
	background: url(./images/beforeafter1.jpg) no-repeat;
}
.ba2 {
	background: url(./images/beforeafter2.jpg) no-repeat;
}
.feed blockquote {
	font-size: 14px;
	margin-top: 15px;
	font-style: italic;
	text-align: center;
	font-family: "Roboto";
	padding: 10px 30px;
}
.feed em {
    font-weight: 800;
    margin-top: 5px;
    display: block;
    font-family: "Roboto";
    float: right;
    padding: 0px 7px;
}
.sec6 {

}
.logo_bottom {
	width: 222px;
	height: 81px;
	margin: 0 auto;
	background: url(./images/logo2.jpg) no-repeat;
}
.cover {
	margin-top: 20px;
	position: relative;
	height: 457px;
	z-index: 1;
}
.cover::before {
	position: absolute;
	left: -55px;
	top: 0px;
	content: " " ;
	background: url(./images/cover.jpg) no-repeat;
	width: 420px;
	height: 457px;
	z-index: -1;
}
.sec6_content {
	position: absolute;
	z-index: 2;
	width: 140px;
	text-align: center;
	right: 0px;
	margin: 20px 7px;
}
.sec6_content h2 {
	color: #64b6b0;
	font-size: 13px;
	font-family: sans-serif;
}
.sec6_content h3 {
	text-transform: uppercase;
	font-family: "Myriad Pro";
	color: #222222;
	font-size: 31px;
	font-weight: 800;
	letter-spacing: -1px;
	margin-top: 5px;
	display:inline-block;
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
    transform:scale(1,1.5); /* W3C */
}
.sec6_content h4 {
	color: #6c6c6c;
	text-transform: uppercase;
	font-family: "Roboto";
	font-size: 10px;
}
.sec6_content ul {
	margin: 0 auto;
}
.sec6_content ul li {
	position: relative;
	list-style-type: none;
	text-align: left;
	font-weight: 700;
	font-style: italic;
    padding-left: 15px;
    margin: 10px 0;
    font-size: 12px;
}
.sec6_content ul li:before {
    position: absolute;
    height: 16px;
    width: 16px;
    content: " ";
    background: url(./images/arrow.png) left top no-repeat;
    background-position: left 3px;
    left: -2px;
    top: 0px;
}
.order {
	width: 100%;
	min-height: 20px;
	position: absolute;
	bottom: 40px;
}
.order .btn {
    width: 205px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    background:#cd4784 url(./images/arrow2.png) 200px center no-repeat;
}




