* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.mainClass .container {
	width: 1100px;
	margin: 0 auto;
}

.sec1 {
	background: #3e434e url(./images/bg-green.png) no-repeat center center;
	/*background-size: cover;*/
	height: 678px;
}
.sec1 .container {
	position: relative;
	padding-top: 30px;
}
.sec1 .container:before {
	position: absolute;
	content: " ";
	background: url(./images/foot.png) no-repeat;
	width: 465px;
	height: 784px;
	background-size: contain;
	right: -30px;
	top: 0;
}
.sec1_logo {
	width: 195px;
	height: 128px;
	background: url(./images/logo.png) no-repeat;
	background-size: contain;
	margin: 0;
	padding: 0;
}
.sec1 h2 {
	font-size: 72px;
	color: white;
	max-width: 630px;
	line-height: 1;
	margin-top: 40px;
}
.sec1 h4 {
	margin-top: 40px;
	font-size: 24px;
	color: #fac241;
	max-width: 550px;
	line-height: 1;
}
.sec1 ul {
	list-style-type: none;
	margin-top: 40px;
	font-size: 20px;
}
.sec1 ul li {
	color: white;
	font-size: 20px;
	padding: 5px 0 5px 30px;
	background: url(./images/arrow.png) no-repeat center left;
	background-position-y: 5px;
}
.sec1 ul li b {
	color: white;
	font-size: 20px;
}

.sec2 {
	background: url(./images/bg-gray.png) repeat-x;
	height: 202px;
	text-align: center;
	padding-top: 45px;
}
.btn {
    font-weight: 600;
    padding: 10px 40px 20px;
    background: #2440b4;
    color: white;
    font-size: 45px;
    margin: 0 auto;
    display: block;
    border: 0;
    border-radius: 35px;
}
.sec2 p {
	font-size: 20px;
	color: #ff0000;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 25px;
}

.sec3 {
	background: url(./images/bg-bottom.png) no-repeat center bottom;
	background-size: contain;
}
.sec3 h4 {
	color: #333333;
	font-size: 36px;
	text-align: center;
	margin: 10px auto 50px
}
.sec3_box {
	width: 320px;
}
.sec3 .container:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 80px;
}
.sec3_box {
	display: block;
}
.sec3_box:nth-of-type(2){
	flex: 2;
}
.sec3_feature {
	text-align: center;
	padding: 30px 10px;
}
.sec3_feature figure {
	display: block;
	margin: 0 auto;
}
.sec3_f1 {
	width: 99px;
	height: 107px;
	background: url(./images/obj1.png) no-repeat;
	background-size: contain;
}
.sec3_f2 {
	width: 87px;
	height: 68px;
	background: url(./images/obj2.png) no-repeat;
	background-size: contain;
}
.sec3_f3 {
	width: 73px;
	height: 87px;
	background: url(./images/obj3.png) no-repeat;
	background-size: contain;
}
.sec3_f4 {
	width: 67px;
	height: 87px;
	background: url(./images/obj4.png) no-repeat;
	background-size: contain;
}
.sec3_socks {
	width: 470px;
	height: 453px;
	background: url(./images/socks.png) no-repeat;
	background-size: contain;
	margin: 125px auto 0;
}
.sec3_feature h5 {
	color: #00c961;
	font-size: 20px;
	line-height: 1;
	margin-top: 20px;
}
.sec3_feature p {
	font-size: 16px;
	line-height: 1;
	margin-top: 30px;
}

.sec4 {
	height: 630px;
	background: #00b43b url(./images/bg-bottomgreen.png) no-repeat center;
	text-align: center;
}
.sec4 .container {
	padding-top: 50px;
}
.sec4_logo {
	width: 175px;
	height: 115px;
	background: url(./images/logo-white.png) no-repeat;
	margin: 0 auto 50px;
	background-size: contain;
}
.sec4 h3 {
	font-size: 69px;
	color: white;
	padding: 0 10px;
	line-height: 1.1;
}
.sec4 button {
    font-weight: 700;
    padding: 10px 40px 20px;
    background: #fac241;
    color: #1a1a1a;
    font-size: 40px;
    margin: 60px auto 0;
    display: block;
    border: 0;
    border-radius: 35px;
}

.sec5 {
	padding-top: 100px;
	padding-bottom: 95px;
}
.sec5 h4 {
	color: #333333;
	font-size: 36px;
	text-align: center;
	margin: 10px auto 50px
}
.sec5 .container:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sec5_testi {
	display: block;
	flex: 1;
	text-align: center;
	padding: 0 25px;
}
.sec5_testi figure {
	width: 200px;
	height: 200px;
	background-size: contain;
	margin: 0 auto;
}
.sec5_testi1 {
	background-image: url(./images/testi1.png);
}
.sec5_testi2 {
	background-image: url(./images/testi2.png);
}
.sec5_testi3 {
	background-image: url(./images/testi3.png);
}
.sec5_testi p {
	margin: 30px auto 20px;
	font-size: 18px;
}
.sec5_testi b {
	font-size: 18px;
}
.sec5 .btn {
	margin-top: 75px;
}

.sec6 {
	background: #f2e3ca;
}
.sec6 .container {
	height: 720px;
	position: relative;
}
.sec6 .container:before {
	position: absolute;
	content: "";
	height: 720px;
	width: 1096px;
	background: url(./images/bottom-model.png) no-repeat;
	top: 0;
	left: -37%;
}
.sec6 .sec1_logo {
	margin: 50px auto 120px;
}
.sec6_content {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
}
.sec6 h5 {
	width: 	700px;
	margin: 0 auto;
	line-height: 1;
	text-align: center;
}
.sec6 h5 span,
.sec6 h5 em {
	font-size: 50px;
	color: #1a1a1a;
	line-height: 1;
	text-align: center;
	width: 550px;
	width: 100%;
}
.sec6 h5 span {
	font-weight: 500;
	display: block;
}
.sec6 h5 em {
	display: block;
	font-style: normal;
}
.sec6 .btn {
	margin-top: 100px;
}
.sec6 .container:after {
	position: absolute;
	content: " ";
	background: url(./images/foot.png) no-repeat;
	width: 465px;
	height: 784px;
	background-size: contain;
	right: -115px;
	top: 0;
}
@media(max-width: 420px) {
	.mainClass {
	}
	.mainClass .container {
		width: 320px;
	}
	.sec1 {
	    min-height: 460px;
	    height: initial;
	    background-size: cover;
	    background-position-x: -658px;
	    position: relative;
	    overflow: hidden;
	}
	.sec1_logo {
		width: 121px;
		height: 80px;
		background-size: contain;
		margin: 15px 0 0 20px;
	}
	.sec1 h2 {
	    font-size: 22px;
	    max-width: initial;
	    width: 150px;
	    padding: 0 10px;
	}
	.sec1 h4 {
	    margin-top: 20px;
	    font-size: 14px;
	    max-width: initial;
	    width: 185px;
	    padding: 0 10px;
	}
	.sec1 h4 br {
		display: none;
	}
	.sec1 ul {
	    margin-top: 20px;
	    width: 305px;
	    margin: 20px auto 0;
	}
	.sec1 ul li {
		font-size: 10px;
		background-size: 11px;
		padding: 5px 0 5px 15px;
	}
	.sec1 ul li b {
		font-size: 10px;
	}
	.sec1 .container:before {
		width: 210px;
		height: 360px;
		background-size: contain;
		right: -34px;
	}

	.sec2 {
	    height: initial;
	    padding: 22px 0 20px;
	}
	.sec2 p {
		font-size: 10px;
		margin-top: 10px;
	}
	.btn {
		padding: 10px 40px 10px;
		font-size: 15px;
	}
	.sec3 h4 {
	    font-size: 18px;
	    margin: 35px auto;
	}
	.sec3_box:nth-of-type(2){
		display: none;
	}
	.sec3_feature h5 {
	    font-size: 10px;
	    margin-top: 10px;
	}
	.sec3_feature p {
	    font-size: 10px;
	    margin-top: 10px;
	}
	.sec3_feature figure {
		width: 60px;
		height: 60px;
		background-size: contain;
	}
	.sec3_box:nth-of-type(3) .sec3_feature:last-of-type {
		padding-top: 10px;
	}
	.sec3 .container:nth-of-type(2) {
		padding-bottom: 40px;
	}

	.sec4 {
	    height: initial;
	    padding-bottom: 40px;
	    background-size: cover;
	    background-position-x: -252px;
	}
	.sec4 h3 {
		font-size: 28px;
	}
	.sec4_logo {
	    margin: 0 auto 20px;
	    background-size: 70%;
	    background-position: center;
	}
	.sec4 button {
	    padding: 10px 30px 10px;
	    font-size: 14px;
	    margin: 30px auto 0;
	}
	.sec5 {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.sec5 h4 {
	    font-size: 18px;
	    margin: 0px auto 20px;
	}
	.sec5 .container:nth-of-type(2) {
	    flex-direction: column;
	}
	.sec5_testi p {
	    margin: 20px auto 10px;
	    font-size: 12px;
	}
	.sec5_testi b {
	    font-size: 12px;
	    margin-bottom: 30px;
	    display: block;
	}
	.sec5 .container:last-of-type {
		display: none;
	}

	.sec6 {
	    position: relative;
	    overflow: hidden;
	    min-height: 360px;
	}
	.sec6 .container {
	    height: initial;
	}
	.sec6 .container:after {
		display: none;
	}
	.sec6 .container:before {
	    position: absolute;
	    content: "";
	    width: 960px;
	    height: 360px;
	    background: url(./images/bgm.jpg) no-repeat;
	    top: 0;
	    left: -315px;
	    background-size: cover;
	}
	.sec6 .sec1_logo {
		background: none;
		margin: 50px auto 10px;
	}
	.sec6 h5 {
		width: 320px;
	}
	.sec6 h5 span, .sec6 h5 em {
		font-size: 28px;
	}
}