* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.main {
	position: relative;
	overflow: hidden;
}
.main header,
.main .container {
	width: 1200px;
	margin: 0 auto;
}
.sec0 header {
	padding: 25px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec0_left {
	display: block;
	width: 400px;
}
.sec0_logo {
	width: 376px;
	height: 133px;
	background: url(./images/logo.png) no-repeat;
	background-size: contain;
}
.sec0_right {
	display: block;
}
.sec0_ul {
	list-style-type: none;
	margin-top: 40px;
}
.sec0_ul li {
	display: inline;
	font-size: 24px;
	color: #666;
	margin: 0 7px;
}
.sec0_ul li:nth-of-type(3) {
	position: relative;
}
.sec0_searchbtn {
	position: absolute;
	width: 25px;
	height: 24px;
	background: url(./images/search.png) center no-repeat;
	background-size: contain;
	border: 0;
	border: 0;
    right: 15px;
    top: 7px;
}
.sec0_ul a {
	display: initial;
	font-size: 24px;
	color: #666;
	text-decoration: none;
}
.sec0_profile {
	width: 32px;
	height: 32px;
	background: url(./images/profile.png) no-repeat;
	background-size: contain;
	display: inline-block;
}
.sec0_wishlist {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(./images/wishlist.png) no-repeat;
	background-size: contain;
}
.sec0_cart {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(./images/cart.png) no-repeat;
	background-size: contain;
}
.sec0_search {
    border-radius: 25px;
    border: 1px solid silver;
    padding: 10px 55px;
}
.sec0_ul figure {
	position: relative;
	top: 13px;
}
.sec0_ul figcaption {
	font-size: 11px;
	position: absolute;
	right: -7px;
	top: -8px;
	width: 19px;
	height: 15px;
	background: red;
	color: white;
	border-radius: 9px;
	font-weight: 600;
	padding-top: 3px;
	padding-left: 0;
	text-align: center;
}

.sec1 {
	background: url(./images/sec1_bg.jpg) center no-repeat;
	background-size: cover;
}
.sec1 .container {
	min-height: 585px;
	position: relative;
	overflow: hidden;
}
.sec1 .container::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 422px;
	height: 711px;
	background: url(./images/foot.png) no-repeat;
	background-size: contain;
}
.sec1 h2 {
	padding-top: 165px;
	font-size: 58px;
	color: white;
	text-transform: uppercase;
	width: 580px;
	line-height: 1.1;
}
.sec1 h5 {
	font-size: 24px;
	color: white;
	font-weight: normal;
	padding-top: 15px;
	margin-bottom: 40px;
}
.btn {
	background: #2669d7;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid white;
	border-radius: 4px;
	padding: 10px;
}

.sec2 {
	margin-top: 40px;
}
.sec2 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec2 h5 {
	font-size: 32px;
	font-weight: normal;
	display: block;
}
.sec2 a {
	display: block;
	font-size: 18px;
	color: #2669d7;
}
.sec2 h4 {
	font-size: 24px;
	color: #666666;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 5px;
	border-bottom: 2px solid #666666;
}
.sec2_product {
	width: 390px;
	display: block;
	position: relative;
}
.sec2_product::hover {

}
.sec2_product.active h4 {
	color: #2669d7;
	border-bottom: 2px solid #2669d7;
}
.sec2_hover {
	position: absolute;
	background: rgba(38,105,215,.3);
	top: 44px;
	left: 0;
	border: 2px solid #2669d7;
	width: 390px;
	height: 440px;
	display: none;
}
.sec2 .btn {
	background: #0c1117;
	border-color: #e4e9ed;
	margin: 0 auto;
	display: block;
	margin-top: 208px;
	font-weight: 600;
	padding: 10px 30px;
	cursor: pointer;
}

.sec2_product figure {
	width: 394px;
	height: 438px;
}
.sec2_product1 {
	background: url(./images/product1.jpg) no-repeat;
	background-size: contain;
}
.sec2_product2 {
	background: url(./images/product2.jpg) no-repeat;
	background-size: contain;
}
.sec2_product3 {
	background: url(./images/product3.jpg) no-repeat;
	background-size: contain;
}

.sec3 {
	margin-top: 40px;
}
.sec3 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec3 h5 {
	font-size: 32px;
	font-weight: normal;
	display: block;
}
.sec3 .container:nth-of-type(2) {
	height: 370px;
	background: url(./images/sec3_bg.jpg) no-repeat center;
	background-position-x:-720px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sec3 .container:nth-of-type(3) {
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around
	;
	padding: 5px 0;
}
.sec3 h2 {
	font-size: 20px;
	color: white;
	margin-top: 8px;
}
.sec3 h4 b {
	font-weight: 700;
	font-size: 28px;
	color: #ed1c24;
}
.sec3 h4 {
	font-size: 28px;
	color: #ed1c24;
	font-weight: 500;
	margin-top: 3px;
}
.sec3 p {
	font-size: 18px;
	color: white;
	margin-top: 7px;
	font-weight: 500;
}

.sec4 {

}
.sec4 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec4_product {
	width: 580px;
	height: 450px;
	background: url(./images/sec4_product1.jpg) center no-repeat;
	background-size: contain;
	position: relative;
}
.sec4_product:last-of-type {
	background: url(./images/sec4_product2.jpg) center no-repeat;
	background-size: contain;
}
.sec4_bottom {
	position: absolute;
	bottom: 0;
	height: 90px;
	width: 580px;
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 60px;
	box-sizing: border-box;
}
.sec4 .btn {
	margin-top: 28px;
}
.sec4_left {
	display: block;
	width: 430px;
}
.sec4_left p {
	font-size: 20px;
	color: white;
	margin-top: 26px;
	font-weight: 600;
}
.sec4_left h4 b,
.sec4_left h4 {
	font-size: 20px;
	color: #ed1c24;
	text-transform: uppercase;
}
.sec4_left h4 b {
	font-weight: 700;
	font-size: 24px;
}

.sec6 {
	margin-top: 40px;
}
.sec6 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec6 h5 {
	font-size: 32px;
	font-weight: normal;
	display: block;
	padding-bottom: 20px;
}
.sec6 a {
	display: block;
	font-size: 18px;
	color: #2669d7;
}
.sec6_product {
	width: 395px;
	display: block;
}
.sec6_product figure {
	width: 394px;
	height: 357px;
	margin-bottom: 15px;
}
.sec6_product1 {
	background: url(./images/sec5_product1.jpg) no-repeat;
	background-size: contain;
}
.sec6_product2 {
	background: url(./images/sec5_product2.jpg) no-repeat;
	background-size: contain;
}
.sec6_product3 {
	background: url(./images/sec5_product3.jpg) no-repeat;
	background-size: contain;
}
.sec6_product h3 {
	font-size: 24px;
	color: #666;
	line-height: 1.2;
}
.sec6_product p {
	font-size: 18px;
	line-height: 1.2;
	color: #666;
}
.sec6_product em {
	font-style: normal;
	font-size: 20px;
	color: #666;
}

.sec7 {
	background: #00162c;
	margin-top: 80px;
}
.sec7 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 70px 0;
}
.sec7_box {
	display: block;
	color: white;
}
.sec7 h5 {
	font-size: 20px;
	color: white;
	font-weight: 600;
	margin-bottom: 15px;
}
.sec7 ul {
	list-style-type: none;
}
.sec7 ul li {
	font-size: 18px;
	color: #99a2ab;
	margin: 2px 0;
}
.sec7 a {
	font-size: 18px;
	color: #99a2ab;
	text-decoration: none;	
}
.sec7_box:nth-of-type(2) {
	width: 160px;
}
.sec7_box:nth-of-type(3) {
	width: 125px;
}
.sec7_box:last-of-type {
	width: 290px;
}
.sec7_box:last-of-type li {
	padding-left: 10px;
	margin-bottom: 10px;
}
.sec7_address {
	list-style-image: url(./images/address.png);
}
.sec7_mail {
	list-style-image: url(./images/mail.png);
}
.sec7_phone {
	list-style-image: url(./images/phone.png);
}



@media(max-width: 420px){
	.main .container,
	.main header {
		width: 320px;
	}

	.sec1 .container {
		width: 320px;
		min-height: 292px;
		padding: 5px;
		box-sizing: border-box;
	}
	.sec1 .container::before {
		width: 320px;
		height: 292px;
		bottom: initial;
		top: 0;
    	background-position: right;
	}
	.sec1 h2 {
		padding-top: 40px;
		font-size: 21px;
		width: 172px;
	}
	.sec1 h5 {
		font-size: 12px;
		width: 156px;
		margin-bottom: 10px;
	}
	.btn {
		font-size: 12px;
		padding: 5px 7px;
	}

	.sec2 {
		margin-top: 10px;
	}
	.sec2 .container {
		position: relative;
		width: 630px;
		left: -150px;
	}
	.sec2 a {
		font-size: 11px;
		box-sizing: border-box;
		padding: 5px;
	}
	.sec2 h5 {
		font-size: 24px;
		padding: 5px;
		box-sizing: border-box;
	}
	.sec2_product {
		width: 200px;
	}
	.sec2_product figure {
		width: 200px;
		height: 220px;
		background-size: cover;
	}
	.sec2 h4 {
		font-size: 18px;
	}

	.sec3 {
		margin: 0;
	}
	.sec3 .container:first-of-type {
		display: block;
		padding: 10px 0;
	}
	.sec3 h5 {
		text-align: center;
		font-size: 24px;
	}
	.sec3 .container:nth-of-type(2) {
		background: url(./images/sec3_model-m.jpg) no-repeat;
		background-size: cover;
		height: 190px;
		margin-top: 0;
	}
	.sec3 h2 {
		font-size: 12px;
	}
	.sec3 h4 b,
	.sec3 h4 {
		font-size: 14px;
	}
	.sec3 p {
		display: none;
	}
	.sec4 .container {
		flex-direction: column;
	}
	.sec4_product {
		width: 320px;
		height: 220px;
		background-size: cover;
	}
	.sec4_bottom {
		width: 320px;
		padding: 0 10px 10px;
		height: initial;
	}
	.sec4_left {
		width: 280px;
	}
	.sec4_left p {
		font-size: 12px;
		margin-top: 10px;
	}
	.sec4_left h4 b, 
	.sec4_left h4 {
		font-size: 14px;
	}
	.sec4 .btn {
		margin-top: 10px;
	}
	.sec4_product:last-of-type {
		background-size: cover;
	}
	.sec6 .container:first-of-type {
		flex-direction: column;
	}
	.sec6 .container:nth-of-type(2) {
		flex-direction: row;
	    position: relative;
	    overflow: hidden;
	    width: 620px;
	    left: -152px;
	}
	.sec6 {
		margin-top: 10px;
	}
	.sec6 h5 {
		font-size: 24px;
		text-align: center;
		padding-bottom: 10px;
	}
	.sec6 a {
		font-size: 11px;
		text-align: center;
		padding-bottom: 20px;
	}
	.sec6_product {
		width: 200px;
	}
	.sec6_product figure {
		height: 180px;
		width: 200px;
	}
	.sec6_product h3 {
		font-size: 16px;
	}
	.sec6_product p {
		font-size: 12px;
	}
	.sec6_product em {
		font-size: 14px;
	}

}