* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.index .container {
	width: 1150px;
	margin: 0 auto;
}
.sec1 {
	background: url(./images/bg.jpg) no-repeat top center;
	background-size: cover;
	min-height: 658px;
}
.sec1 .container::before {
	position: absolute;
	content: " ";
	width: 673px;
	min-height: 782px;
	background: url(./images/model.png) no-repeat left;
	top: 0;
	left:-105px;
}
.sec1 .container {
	min-height: 655px;
	position: relative;
}
.sec1_right {
	width: 555px;
	margin-left: 595px;
	padding-top: 70px;
}
.sec1_logo {
	width: 309px;
	min-height: 66px;
	background: url(./images/index-logo.png) no-repeat;
}
.sec1 h1 {
	font-size: 80px;
	color: white;
	line-height: 1;
}
.sec1 h2 {
	font-size: 48px;
	color: white;
	font-weight: 500;
}
.sec1 ul {
	list-style-type: none;
}
.sec1 ul li {
	padding-left: 20px;
	background: url(images/bullet.png) no-repeat left top; 
	list-style: none;
    padding: 3px 0 3px 30px;
    background-position-y: 4px;
    margin: 0;
}
.sec1 ul li,
.sec1 ul li em{ 
	font-size: 20px;
	font-style: normal;
	color: white;
}
.sec1 ul li em {
	font-weight: 600;
}
.btn {
	margin-top: 35px;
	width: 505px;
	color: white;
	background: #fe6611;
	font-size: 40px;
	border: 0;
	border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
}

.sec2 {
	background: #e2e2e2;
	min-height: 400px;
}
.sec2 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sec2_left {
	padding-top: 130px;
	display: block;
	width: 670px;
}
.sec2_left h5 {
	font-size: 36px;
	margin-bottom: 15px;
}
.sec2_left b,
.sec2_left p {
	font-size: 20px;
}
.sec2_right {
	padding-top: 30px;
	display: block;
	width: 300px;
}
.sec2_hex{
	background: url(./images/hexa.png) no-repeat;
	width: 286px;
	min-height: 330px;
}

.sec3 {
	padding: 100px 0;
}
.sec3 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sec3_benefit {
	display: block;
	width: 350px;
	text-align: center;
}
.sec3_benefit figure {
	margin: 0 auto;
}
.sec3_benefit1 {
	background: url(./images/benefit1.png) top center no-repeat;
	width: 127px;
	min-height: 150px;	
}
.sec3_benefit2 {
	background: url(./images/benefit2.png) top center  no-repeat;
	width: 126px;
	min-height: 150px;	
}
.sec3_benefit3 {
	background: url(./images/benefit3.png) top center  no-repeat;
	width: 119px;
	min-height: 150px;	
}
.sec3_benefit h5 {
	color: #3d5199;
	font-size: 30px;
    margin: 20px 0 10px;
}
.sec3_benefit p {
	font-size: 20px;
	padding: 15px 0;
}

.sec4 .container {
	min-height: 275px;
	background: #e5e5e5;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 70px 0 0px;
}
.sec4_left {
	display: block;
	width: 408px;
	height: 232px;
	background: url(./images/product.png) no-repeat;
	background-size: contain;
}
.sec4_right {
	display: block;
	width: 675px;
}
.sec4_right h5 {
	font-size: 32px;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 700;
	padding-top: 30px;
}
.sec4_right p {
	font-size: 20px;
	padding-top: 30px;
}




.sec5 .container {
	min-height: 275px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 40px 0 0px;
}
.sec5_left {
	display: block;
	width: 515px;
}
.sec5_left h5 {
	margin-top: 60px;
	font-size: 48px;
	padding-bottom: 25px;
}
.sec5_left p {
	font-size: 20px;
}
.sec5_right {
	display: block;
	width: 474px;
	height: 354px;
	background: url(./images/ingred.jpg) no-repeat;
	background-size: contain;
}

.sec6 {
	min-height: 505px;
	background: url(./images/bg2.jpg) no-repeat;
	background-size: cover;
}
.sec6 .container {
	min-height: 505px;
	position: relative;
}
.sec6 .container::before {
	position: absolute;
	content: " ";
	width: 556px;
	min-height: 541px;
	background: url(./images/model2.png) no-repeat left;
	bottom: -2px;
	left: 0;
}

.sec6_right {
	width: 613px;
	margin-left: 556px;
	padding-top: 70px;
}
.sec6_right h1 {
	font-size: 48px;
	line-height: 1;
}
.sec6_right h2 {
	line-height: 1;
	font-size: 48px;
	font-weight: 500;
}
.sec6_right b {
	font-size: 20px;
}
.sec6_right p {
	padding-top: 40px;
	font-size: 20px;
}