* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.main .container {
	width: 1100px;
	margin: 0 auto;
}
.sec1 {
	height: 755px;
	background: url(./images/sec1.jpg) center no-repeat;
}
.sec1 .container {
	padding-top: 60px;
	position: relative;
}
.sec1 .container:before {
	position: absolute;
    left: 820px;
    top: 265px;
	width: 145px;
	height: 138px;
	background: url(./images/badge.png) no-repeat center;
	background-size: contain;
	content: "";
}
.sec1_box {
	width: 770px;
	float: right;
}
.sec1 h5 {
	font-size: 27px;
	text-transform: uppercase;
	background: #0bc0c6;
	padding: 5px 20px;
	border-radius: 25px;
	color: white;
	text-align: center;
	font-weight: 500;
    margin: 0 auto 15px;
}
.sec1 h3 {
	font-size: 112px;
	text-align: center;
	line-height: 1;
}
.sec1 ul {
	font-size: 30px;
	list-style-type: none;
	margin-top: 80px;
	margin-left: 70px;
}
.sec1 ul li {
	font-size: 30px;
	font-weight: 600;
	background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    background-position: 0px 6px;
    margin: 5px 0;
    padding: 3px 0 1px 35px;
}
.btn {
	border : 0;
	background: url(./images/btnbg.png) no-repeat center;
	width: 354px;
	height: 104px;
	margin: 55px 0 0 120px;
}
.btn b {
	color: white;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    margin: -10px 0 0;
    padding: 0;
    line-height: 1;
}
.btn span {
	color: white;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    margin: 2px 0 0;
    padding: 0;
    line-height: 1;
}
.sec1 p {
    font-size: 24px;
    color: #ec2bd2;
    margin: 30px 0 0 99px;
    display: block;
    float: left;
    font-weight: 500;
}


.sec2 {
	background: white url(./images/sec2.png) no-repeat center;
}
.sec2 .container {
	height: 845px;
}
.sec2 h4 {
	font-size: 34px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 70px;
	padding-bottom: 10px;
}
.sec2 h5 {
	font-size: 30px;
	color: white;
	text-align: center;
}
.sec2 p {
	padding-top: 205px;
	font-size: 24px;
	color: white;
	text-align: center;
}
.sec2 blockquote {
	display: block;
	margin: 85px 0 0 365px;
	width: 651px;
	height: 286px;
	background: url(./images/quote.png) no-repeat;
}
.sec2 blockquote p {
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 80px;
}

.sec3 {

}
.sec3_fig {
	width: 345px;
}
.sec3 h3 span {
	font-size: 42px;
	font-weight: 600;
}
.sec3 h3 {
	font-size: 42px;
	text-align: center;
	background: url(./images/shadow.png) bottom center no-repeat;
	padding-bottom: 60px;
	text-transform: uppercase;
	font-weight: 600;
}
.sec3_fig figure {
	width: 269px;
	height: 269px;
	margin: 20px auto;
}
.sec3_fig:nth-of-type(1) figure {
	background: url(./images/circle1.png) no-repeat center;
}
.sec3_fig:nth-of-type(2) figure {
	background: url(./images/circle2.png) no-repeat center;
}
.sec3_fig:nth-of-type(3) figure {
	background: url(./images/circle3.png) no-repeat center;
}
.sec3 h5 span {
	color: #db00c0;
	font-size: 24px;
	text-align: center;
}
.sec3 h5 {
	color: #db00c0;
	font-size: 24px;
	margin: 10px auto;
	text-align: center;
}
.sec3 p {
	font-size: 14px;
	text-align: center;
}
.sec3 .container:nth-of-type(2) {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec3_fig {
	display: block;
}

.cta .container,
.cta {
	background: url(./images/bluearrows.png) no-repeat center;
	min-height: 92px;
	padding-top: 1px;
}
.cta {
	min-height: initial;
}
.cta .btn {
	margin: 60px auto 0;
	display: block;
}
.cta p {
    font-size: 24px;
    color: #ec2bd2;
    margin: 25px auto;
    display: block;
    font-weight: 500;
    text-align: center;
}

.sec4 {
	background: white url(./images/sec4.png) no-repeat center;
	height: 800px;
}
.sec4 .container {
}
.sec4 .container:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 550px;
	position: relative;
}
.sec4 .container:nth-of-type(2):after {
	position: absolute;
	right: 34px;
    top: -20px;
    width: 145px;
	height: 138px;
	background: url(./images/badge.png) no-repeat center;
	background-size: contain;
	content: "";
}
.sec4 h5 {
	font-size: 42px;
	text-align: center;
	color: white;
	font-weight: 600;
	padding: 65px 0 50px;
}
.sec4_left {
	display: block;
	width: 410px;
	position: relative;
}
.sec4_left label {
	position: absolute;
	background: #ec2bd2;
	color: white;
	text-transform: uppercase;
	text-align: center;
	left: 181px;
	top: 91px;
	padding: 5px 15px;
    font-weight: 500;
}
.sec4_left label:nth-of-type(2) {
	left: 93px;
	top: 470px;
}
.sec4_right {
	display: block;
	width: 685px;
}
.sec4_right h4 span {
	color: #0bc0c6;
	font-size: 32px;
	font-weight: 600;
}
.sec4_right h4 {
	color: #0bc0c6;
	font-size: 32px;
	font-weight: 600;
	width: 500px;
}
.sec4_right p {
	color: white;
	font-size: 21px;
	margin-top: 35px;
	width: 440px;
	line-height: 130%;
}

.sec5 {

}
.sec5 h5 {
	font-size: 42px;
	text-align: center;
	color: black;
	padding: 20px 0 50px;
}
.sec5 .container:nth-of-type(2),
.sec5 .container:nth-of-type(3) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec5_fig {
	width: 340px;
	display: block;
}
.sec5_fig p {
	font-size: 21px;
	text-align: center;
}
.sec5_fig p:last-of-type {
	font-size: 18px;
	line-height: 130%;
}
.sec5_star {
	width: 98px;
	height: 19px;
	background: url(./images/star.png) no-repeat center;
	margin: 10px auto;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 30px;
}
.sec5 figure:not(.sec5_star) {
	width: 274px;
	height: 274px;
	margin: 25px auto;
}
.sec5_testi1 {
	background: url(./images/testi1.jpg) no-repeat;
}
.sec5_testi2 {
	background: url(./images/testi2.jpg) no-repeat;
}
.sec5_testi3 {
	background: url(./images/testi3.jpg) no-repeat;
}
.sec5_testi4 {
	background: url(./images/testi4.jpg) no-repeat;
}
.sec5_testi5 {
	background: url(./images/testi5.jpg) no-repeat;
}
.sec5_testi6 {
	background: url(./images/testi6.jpg) no-repeat;
}
.sec5 .container:nth-of-type(3) {
	padding: 130px 0 20px;
}

.sec6 {
	background: white url(./images/sec5.jpg) no-repeat center;
	height: 650px;
}
.sec6 h5 span {
	font-size: 42px;
	color: white;
}
.sec6 h5 {
	font-size: 42px;
	color: white;
	text-align: center;
	padding-top: 40px;
}
.sec6 p {
	font-size: 24px;
	color: white;
	text-align: center;
	padding-top: 400px;
}

.sec7 {
	background: white url(./images/sec6.jpg) no-repeat center;
	height: 755px;
}
.sec7 h5 span {
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
}
.sec7 h5 {
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0;
}
.sec7 h4 {
	font-size: 28px;
	text-transform: uppercase;
	background: #0bc0c6;
	padding: 5px 20px;
	border-radius: 25px;
	color: white;
	text-align: center;
	font-weight: 500;
    margin: 0 auto 15px;
    display: block;
    width: 700px;
}
.sec7 form {
	height: 295px;
	margin: 50px auto 20px;
}
.sec7 .cta .btn {
	margin: 0px auto;
}

@media(min-width: 421px){
	.ctam {
		display: none;
	}
	.sec5 .container:nth-of-type(2) .sec5_fig:nth-of-type(4),
	.sec5 .container:nth-of-type(2) .sec5_fig:nth-of-type(5),
	.sec5 .container:nth-of-type(2) .sec5_fig:nth-of-type(6) {
		display: none;
	}
}

@media(max-width: 420px) {
	.main {
		position: relative;
		overflow: hidden;
	}
	.main .container {
		width: 320px;
	}
	.sec1 {
		height: 350px;
		background: url(./images/sec1m.jpg) no-repeat top;
		background-size: contain;
	}
	.sec1 .container {
		padding-top: 15px;
	}
	.sec1 .container:before {
	    left: 223px;
	    top: 191px;
	    width: 60px;
	    height: 60px;
	    background-size: contain;
	}
	.sec1_box {
		width: 220px;
		margin-right: 5px;
	}
	.sec1 h5 {
	    font-size: 10px;
	    border-radius: 0px;
	    padding: 5px 0;
	    margin: 0 auto;
	}
	.sec1 h3 {
	    font-size: 36px;
	    text-align: center;
	    line-height: 1;
	    margin-top: 4px;
	}
	.sec1 ul {
		margin: 20px auto 0;
	}
	.sec1 ul li {
	    font-size: 13px;
	    background-position: 0px 6px;
	    margin: 5px 0;
	    padding: 0px 0 0px 55px;
	}
	.sec1 ul li {
	    font-size: 13px;
	    background-position: 42px 2px;
	    margin: 5px 0;
	    padding: 0px 0 0px 55px;
	    background-size: 10px 10px;
	}
	.sec1 p,
	.sec1 .btn {
		display: none;
	}

	.ctam,
	.cta .container,
	.ctam .container,
	.ctam {
		background: none;
		min-height: initial;
		padding: 0;
		margin: 0 auto;
	}
	.cta {
		background: url(./images/arrowsm.png) no-repeat center;
		background-size: 108%;
		padding-top: 14px;
	}
	.cta,
	.ctam {
		min-height: initial;
	}
	.cta .btn,
	.ctam .btn {
		margin: 10px auto 0;
		display: block;
	    width: 200px;
	    height: 55px;
	    background-size: 100%;
	    background-position: center;
	}
	.cta p,
	.ctam p {
	    font-size: 15px;
	    color: #ec2bd2;
	    margin: 10px auto 20px;
	    display: block;
	    font-weight: 500;
	    text-align: center;
	}
	.btn b {
		font-size: 18px;
		margin: -3px auto 0;
	}
	.btn span {
		font-size: 8px;
	}

	.sec2 {
	    background: white url(./images/sec2m.jpg) no-repeat top;
	    background-size: contain;
	}
	.sec2 .container {
		height: 432px;
	}
	.sec2 h4 {
	    font-size: 16px;
	    padding-top: 25px;
	    width: 80%;
	    margin: 0 auto;
	    padding-bottom: 5px;
	}
	.sec2 h5 {
	    font-size: 15px;
	    font-weight: 500;
	}
	.sec2 p {
		display: none;
	}
	.sec2 blockquote p {
		font-size: 9px;
		font-style: italic;
		display: initial;
		padding: 0;
		display: block;
		width: 68%;
		padding: 23px 0;
		margin: 0 auto;
	}
	.sec2 blockquote {
	    margin: 170px 0px 0 105px;
	    width: 220px;
	    height: 139px;
	    background: url(./images/quotem.png) no-repeat top;
	    background-size: contain;
	    background-position: center;
	}

	.sec3 h3 {
		font-size: 19px;
		padding: 20px 0px 30px;
		background-size: contain;
	}
	.sec3 .container:nth-of-type(2) {
		flex-direction: column;
		margin-top: 25px;
	}
	.sec3 .container:nth-of-type(2) .sec3_fig:nth-of-type(2) h5:not(.m),
	.sec3 .container:nth-of-type(2) .sec3_fig:nth-of-type(2) p:not(.m) {
		display: none;
	}
	.sec3 .sec3_fig {
		margin-bottom: 15px;
	}
	.sec3 .sec3_fig figure {
		width: 173px;
		height: 173px;
		background-size: contain;
		background-position: center;
		margin: 10px auto 5px;
	}
	.sec3 h5 {
	    font-size: 12px;
	    margin: 10px auto 5px;
	}
	.sec3 p {
		font-size: 12px;
		width: 70%;
		margin: 5px auto 0;
	}

	.sec4 {
		background: none;
		height: 560px;
	    background: white url(./images/sec3m.jpg) no-repeat top;
	    background-size: contain;
	}
	.sec4 h5 {
	    font-size: 21px;
	    padding: 20px 0 30px;
	    width: 90%;
	    margin: 0 auto;
	}
	.sec4_left {
		width: 320px;
		height: 205px;
	}
	.sec4 .container:nth-of-type(2):after {
	    right: 27px;
	    top: 216px;
	    width: 60px;
	    height: 60px;
	}
	.sec4 .container:nth-of-type(2) {
		flex-direction: column;
	    height: initial;
	}
	.sec4_left label {
	    left: 156px;
	    top: 9px;
	    padding: 3px 10px;
	    font-size: 10px;
	}
	.sec4_left label:nth-of-type(2) {
	    left: 105px;
	    top: 181px;
	}
	.sec4_right {
		width: 200px;
		padding: 10px;
	}
	.sec4_right p {
	    font-size: 11px;
	    margin-top: 5px;
	    width: 200px;
	}
	.sec4_right h4 br {
		display: none;
	}
	.sec4_right h4 {
	    font-size: 14px;
	    width: 200px;
	}
	.sec5 h5 {
	    font-size: 21px;
	    padding: 20px 0;
	}	
	.sec5 .container:nth-of-type(2){
		flex-direction: row;
		flex-wrap: wrap;
	}    
	.sec5 .container:nth-of-type(3) {
		display: none;
	}
	.sec5_fig {
	    width: 145px;
	    margin: 0 auto;
	}
	.sec5_fig p {
		font-size: 11px;
	}
	.sec5 figure:not(.sec5_star) {
	    width: 140px;
	    height: 140px;
	    margin: 0 auto;
	    background-size: contain;
	}
	.sec5_star {
	    width: 50px;
	    height: 15px;
	    margin: 0 auto 5px;
	    padding-bottom: 10px;
	    background-size: contain;
	}
	.sec5_fig p,
	.sec5_fig p:last-of-type {
		margin-top: 10px;
	    font-size: 9px;
	}
	.sec5_fig p:last-of-type {
		margin-bottom: 10px;
	}

	.sec6 {
		background: url(./images/sec4m.jpg) no-repeat top;
		height: 300px;
		background-size: contain;
	}
	.sec6 h5 {
	    font-size: 18px;
	    padding-top: 25px;
	}
	.sec6 p {
	    font-size: 15px;
	    color: white;
	    text-align: center;
	    padding-top: 145px;
	}

	.sec7 {
		background: url(./images/sec6m.jpg) no-repeat top;
		min-height: 370px;
		background-size: cover;
	}
	.sec7 h5 br {
		display: none;
	}
	.sec7 h5 {
	    font-size: 30px;
	    padding: 40px 0 20px;
	    width: 80%;
	    margin: 0 auto;
	}
	.sec7 h4 {
	    font-size: 14px;
	    padding: 5px 5px;
	    margin: 0 auto 15px;
	    width: 300px;
	}
	.sec7 .cta {
		display: none;
	}
}

