* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.shop {
	position: relative;
}
.shop header,
.shop .container {
	width: 1200px;
	margin: 0 auto;
}

@media(max-width: 420px){
	.container,
	header {
		width: 320px;
	}
}