* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.shop {
	position: relative;
}
.shop header,
.shop .container {
	width: 1200px;
	margin: 0 auto;
}
.sec1 {
    background: #00162c;
  }
  .sec1 ul {
    list-style-type: none;
    padding: 20px 0;
  }
  .sec1 li {
    display: inline;
    color: #7dbded;
    font-size: 16px;
    margin-right: 10px;
  }
  .sec1_arrow_right {
    background: url(./images/arrowright.png) no-repeat;
    background-size: contain;
    width: 5px;
    height: 8px;
    display: inline-block;

  }

  .sec2 {
  }
  .sec2 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sec2 h5 {
    font-size: 32px;
    color: #0054a6;
    text-transform: uppercase;
    padding: 45px 0;
    text-align: center;
    font-weight: 500;
    display: block;
    width: inherit;
  }
  .sec2_related_m {
  	width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sec2_related {
    width: 290px;
    display: block;
  }
  .sec2_related figure {
    width: 288px;
    height: 319px;
    margin: 0 auto;
  }
  figure.sec2_rating {
    width: 115px;
    height: 16px;
    background: url(./images/star.png);
    background-size: contain;
    margin: 0;
    position: relative;
    margin: 5px 0;
  }
  figure.sec2_rating figcaption {
    position: absolute;
    right: -20px;
    top: 0;
    font-size: 16px;
  }
  .sec2_r1 {
    background: url(./images/r1.jpg) no-repeat;
    background-size: contain;
    position: relative;
  }
  .sec2_r2 {
    background: url(./images/r2.jpg) no-repeat;
    background-size: contain;
    position: relative;
  }
  .sec2_r3 {
    background: url(./images/r3.jpg) no-repeat;
    background-size: contain;
    position: relative;
  }
  .sec2_r4 {
    background: url(./images/r4.jpg) no-repeat;
    background-size: contain;
    position: relative;
  }
  .sec2_related h5 {
    font-size: 18px;
    text-align: left;
    padding: 0;
    color: #363636;
    text-transform: initial;
    margin-top: 15px;
  }
  .sec2_related p {
    font-size: 18px;
    padding-top: 5px;
  }
  .sec2_related em {
    font-size: 18px;
    font-style: normal;
    padding-top: 5px;
  }

  .sec3 {
    margin-top: 50px;
  }
  .sec3 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sec3_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 580px;
    box-sizing: border-box;
  }
  .sec3_left_left {
    display: block;
    width: 100px;
  }
  .sec3_thumbs {
    width: 101px;
    height: 475px;
    background: url(./images/thumb.png) no-repeat;
    background-size: contain;
  }
  .sec3_left_right {
    display: block;
    width: 470px;
    height: 520px;
    background: url(./images/product.jpg) no-repeat;
    position: relative;
  }
  .sec3_magnify {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    background: url(./images/magnify.png) no-repeat;
    background-size: contain;
  }
  .sec3_right {
    display: block;
    width: 620px;
    box-sizing: border-box;
    padding-left: 30px;
  }
  .sec3_top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  .sec3_top h2 {
    font-size: 32px;
    color: #363636;
    margin-bottom: 20px;
  }
  .sec3_top p {
    font-size: 18px;
    color: #363636;
  }
  .sec3_top p b {
    font-size: 18px;
  }
  .sec3_normal {
    float: left;
    margin-right: 40px;
  }
  .sec3_top p:last-of-type b {
    color: red;
  }
  .sec3_bottom {
    padding-top: 20px;
  }
  .sec3_yousave b,
  .sec3_yousave {
    font-size: 18px;
    font-weight: 700; 
    color: #cc0000;
  }
  .sec3_yousave {
    font-weight: 500; 
    float: left;
  }
  .sec3_instock {
    font-size: 16px;
    color: #0054a6;
    float: right;
    font-weight: 700; 
  }
  .sec3_desc {
    display: block;
    clear: both;
    font-size: 18px;
    color: #363636;
    line-height: 1.3;
    margin-top: 25px;
  }
  .sec3_bottom ul {
    width: 250px;
    float: left;
    margin-top: 30px;
    margin-left: 0;
  }
  .sec3_bottom li {
    list-style-type: none;
    padding-left: 10px;
    list-style-image: url(./images/bluearrow.png);
    font-size: 18px;
    padding: 2px 0;
  }
  .sec3_bottom_bottom {
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
  }
  .sec3_btns {
    width: 280px;
    display: block;
  }
  .sec3_btn {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background: #f27a2f;
    padding: 15px 45px;
    width: 280px;
    border-radius: 10px;
    border: 0;
    margin-top: 13px;
  }
  .sec3_plus {
    width: 11px;
    height: 10px;
    background: url(./images/plus.png) no-repeat;
    background-size: contain;
    float: left;
    margin-top: 4px;
      margin-right: 6px;
  }
  .sec3_quantity {
    display: block;
    width: 125px;
  }
  .sec3_quantity ul {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    width: 105px;
    margin: 0;
    margin-top: 10px;
  }
  .sec3_quantity li {
    font-size: 24px;
    color: #0054a6;
    list-style-type: none;
    display: inline;
    padding: 0px 9px;
    text-align: center;
  }
  .sec3_wl {
    display: block;
    width: 32px;  
    margin-top: 15px;
  }
  .sec3_wishlist {
    width: 32px;
    height: 28px;
    background: url(./images/blueheart.png) no-repeat;
    background-size: contain;
  }

  .sec4 {
  }
  .sec4 .container:first-of-type {
  	border-top: 2px solid #0054a6;
  	margin-top: 30px;
  	padding-top: 40px;
  	padding-bottom: 20px;
  }
  .sec4 ul {
  	padding-bottom: 10px;
  }
  .sec4 li {
  	color: #0054a6;
  	border: 0;
  	display: inline;
  	font-weight: 600;
  	font-size: 18px;
  	margin: 0 40px;
  }
  .sec4_desc {
  	border: 2px solid #0054a6;
  	padding: 10px 20px 40px;
  }
  .sec4_desc p {
  	font-size: 18px;
  	margin-top: 20px;
  }

  @media(max-width: 420px){
    .sec1 ul {
      padding: 20px;
    }
    .shop .container,
    .shop header {
      width: 320px;
    }
    .sec1 ul {
    	padding: 10px 20px;
    }
    .sec1 li {
    	font-size: 11px;
    	margin-right: 5px;
    }
    .sec3 {
    	margin-top: 30px;
    }
    .sec3 .container {
    	flex-direction: column;
    }
    .sec3_left {
    	width: 320px;
    	justify-content: space-around;
    }
    .sec3_right {
    	width: 320px;
    	padding-left: 0;
    }
    .sec3_left_left {
    	width: 50px;
    }
    .sec3_thumbs {
    	width: 50px;
    	height: 240px;
    	background-size: contain;
    }
    .sec3_left_right {
    	width: 252px;
    	height: 225px;
    	background-size: cover;
    }
    .sec3_right {
    	width: 320px;
    	padding: 0 5px 20px;	
    }
    .sec3_top h2 {
    	font-size: 18px;
    	margin-bottom: 0;
    	margin-top: 10px;
    }
    .sec3_bottom {
    	padding-top: 10px;
    }
    .sec3_instock b,
    .sec3_instock,
    .sec3_yousave b,
    .sec3_yousave,
    .sec3_top p b,
    .sec3_top p {
    	font-size: 11px;
    }
    .sec3_top {
    	padding-bottom: 10px;
    }
    .sec3_desc {
    	font-size: 11px;
    }
    .sec3_bottom li {
    	font-size: 11px;
    	padding-bottom: 0;
		background: url(./images/bluearrow.png) no-repeat left center;
		list-style-type: none;
		padding-left: 13px;
		background-position: 0px 11px;
		background-size: 10px 10px;
    }
    .sec3_bottom ul {
    	margin-top: 0;
    }
    .sec3_bottom_bottom {
    	width: 320px;
    	padding-top: 10px;
    	display: initial;
    }
    .sec3_btns {
    	width: 210px;
    	box-sizing: border-box;
    	float: left;
    }
    .sec3_btn {
    	font-size: 14px;
    	width: 210px;
		padding: 10px 35px;
		border-radius: 10px;
		margin-top: 13px;
    	float: left;
    }
    .sec3_quantity {
    	width: 90px;
    	box-sizing: border-box;
    	float: left;
    }
    .sec3_quantity ul {
    	width: 90px;
    	margin: 0;
    	padding: 10px 0;
    	margin-left: 7px;
    	margin-top: 12px;
    }
    .sec3_quantity li {
    	background: none;
    	padding: 7px 10px;
    	font-size: 12px;
    	font-weight: 500;
    }
    .sec3_wl {
    	margin-left: 7px;
    	float: left;
    }

    .sec4 {

    }
    .sec4 ul {
    	padding: 0px 20px 20px;
    }
    .sec4 li {
    	font-size: 14px;
    	margin: 0 10px;
    }
    .sec4_desc {
    	border: 2px solid #0054a6;
    	box-sizing: border-box;
    	padding: 10px;
    }
    .sec4_desc p {
    	margin-top: 10px;
    	font-size: 11px;
    }
    .sec2 h5 {
    	font-size: 18px;
    	padding: 15px 0;
    }
    .sec2 .container {
    	flex-direction: column;
    }
    .sec2_related_m {
    	width: 320px;
    }
	.sec2_related {
		width: 155px;
		margin-bottom: 20px;
	}  
	.sec2_related figure {
		width: 155px;
		height: 155px;
		background-size: cover;
		background-position: center;
	}
	.sec2_related h5 {
		font-size: 14px;
		padding: 5px 0;
	}
	.sec2_related em,
	.sec2_related p {
		font-size: 11px;
		padding: 0;
	}
	figure.sec2_rating {
	    width: 115px;
	    height: 16px;
	}
	figure.sec2_rating figcaption {
		right: -20px;
		top: 4px;
		font-size: 11px;
	}
  }
