* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.mainClass .container {
	width: 1000px;
	margin: 0 auto;
}

.sec1 {
	background: black;
}
.sec1 h3 {
	padding: 25px;
	color: white;
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
}
.sec1 h3 em {
	color: #fac241;
	font-size: 24px;
	font-style: normal;
}

.sec2 {
	background: #5c616d;
	padding: 40px;
	text-align: center;
}
.sec2 h4 {
	color: #5c616d;
	line-height: 1.2;
	font-size: 36px;
	color: white;
}
.sec2 h5 {
	color: #fac241;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.1;
	width: 750px;
	margin: 0 auto;
}
.sec2 h5 b {
	color: #ff0000;
	font-size: 24px;
}

.sec3 {

}
.sec3 .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sec3_left {
	display: block;
	flex: 2;
}
.sec3_right {
	display: block;
	flex: 1;
	padding: 50px 0;
}
.sec3_fig {
	position: relative;
	width: 680px;
	height: 680px;
	background: url(./images/product.jpg) no-repeat;
}
.sec3_badge {
	position: absolute;
    top: 44px;
    right: 107px;
	width: 176px;
	height: 176px;
	background: url(./images/badge.png) no-repeat;
}
.sec3_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sec3_li {
	display: flex;
	margin: 20px auto;
}
.sec3_li figure {
	display: block;
}
.sec3_li h5 {
	display: block;
	color: #00c961;
	font-size: 20px;
	width: 200px;
	text-align: center;
	padding-top: 30px;
}
.sec3_li1 {
	background: url(./images/bg1.png) no-repeat;
	width: 92px;
	height: 93px;
	margin: 0 auto;
}
.sec3_li2 {
	background: url(./images/bg2.png) no-repeat;
	width: 56px;
	height: 133px;
	margin: 0 auto;
}
.sec3_li3 {
	background: url(./images/bg3.png) no-repeat;
	width: 99px;
	height: 107px;
	margin: 0 auto;
}
.sec3_li4 {
	background: url(./images/bg4.png) no-repeat;
	width: 87px;
	height: 86px;
	margin: 0 auto;
}
.sec3_li4 {
	margin-top: 15px;
}

.sec4 {
	background: #ebebeb;
	text-align: center;
	padding: 90px 0;
}
.sec4 h5 {
	font-size: 36px;
	color: #1a1a1a;
	margin-bottom: 70px;
}
.sec4 .container:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.sec4_feature {
	display: block;
}
.sec4_feature h4 {
	font-size: 20px;
	font-weight: normal;
}
.sec4_feature h4 b {
	font-size: 20px;
	color: #00c961;
	display: block;
	line-height: 1.1;
}
.sec4_feature figure {
	margin: 0 auto 30px;
}
.sec4_f1 {
	width: 219px;
	height: 219px;
	background: url(./images/circle1.png) no-repeat;
}
.sec4_f2 {
	width: 219px;
	height: 219px;
	background: url(./images/circle2.png) no-repeat;
}
.sec4_f3 {
	width: 219px;
	height: 219px;
	background: url(./images/circle3.png) no-repeat;
}
.sec4_f4 {
	width: 219px;
	height: 219px;
	background: url(./images/circle4.png) no-repeat;
}

.sec5 {
	background: #eee;
	text-align: center;
}
.sec5 h5 {
	font-size: 28px;
	padding: 20px 0 ;
}

.sec6 {
	min-height: 655px;
	background: url(./images/bg.jpg) no-repeat;
	background-size: cover;
}
.sec6 .container:first-of-type {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 30px 0;
}
.sec6_box {
	background: white;
	border: 1px solid #cccccc;
	display: block;
	flex: 1;
	padding: 20px 20px 10px 20px;
	margin: 30px 10px;
	text-align: center;
}
.sec6_box h3 {
	color: #1d3ebb;
	font-size: 24px;
}
.sec6_box figure {
	display: block;
	margin: 20px auto 25px;
	position: relative;
}
.sec6_box figure figcaption {
    position: absolute;
    right: 70px;
    top: 66px;
    background: #e91c30;
    color: white;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 8px;
    text-transform: uppercase;
}
.sec6_p1 {
	width: 286px;
	height: 120px;
	background: url(./images/product1.png) no-repeat;
}
.sec6_p2 {
	width: 275px;
	height: 115px;
	background: url(./images/product2.png) no-repeat;
}
.sec6_p3 {
	width: 162px;
	height: 130px;
	background: url(./images/product3.png) no-repeat;
}
.sec6_box h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
.sec6_box h5 {
	font-size: 12px;
	border-bottom:  1px solid #cccccc;
	padding-bottom: 10px;
	font-weight: normal;
}
.sec6 ul {
	list-style-type: none;
	font-size: 14px;
	width: 210px;
	margin: 10px auto 0;
}
.sec6 ul li {
	background: url(./images/arrow.png) no-repeat center left;
	padding: 15px 15px 15px 40px;
	text-align: left;
	font-size: 14px;
}
.sec6 li em {
	background: #fef036;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px 10px;
	font-style: normal;
	font-weight: 600;
}
.sec6_price {
	width: 210px;
	border: 1px solid #ccc;
	margin: 0 auto;
	padding: 3px;
}
.sec6_price em {
	font-size: 26px;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
}
.sec6_per {
	font-size: 11px;
}
.sec6_btn {
	background: #24247c;
	color: white;
	border: 0;
	padding: 10px 40px;
	border-radius: 5px;
	font-size: 14px;
	margin: 10px auto 0;
	text-transform: uppercase;
	font-weight: 500;
}
.sec6_nothanks {
	color: #fef036;
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-bottom: 30px;
}

@media(max-width: 420px) {
	.mainClass {

	}
	.mainClass .container {
		width: 320px;
	}
	.sec1 h3 em,
	.sec1 h3 {
		font-size: 12px;
		line-height: 1.2;
	}
	.sec1 h3 {
		padding: 10px 0;
	}

	.sec2 {
		padding: 15px 0;
	}
	.sec2 h4 {
		font-size: 24px;
		padding: 5px 30px;
	}
	.sec2 h5 {
		font-size: 13px;
		padding: 5px 40px;
		width: initial;
	}

	.sec3 .container {
		flex-direction: column;
	}
	.sec3_left {
		flex: 1;
	}
	.sec3_right {
		padding: 10px;
	}
	.sec3_fig {
	    width: 320px;
	    height: 276px;
	    background: url(./images/product.jpg) no-repeat center;
	    background-size: cover;
	    margin: 0 auto;
	    display: block;
	}
	.sec3_li4 {
		width: 50px;
	    height: 50px;
	    background-size: contain;
	    margin-right: 5px;
	}
	.sec3_badge {
		width: 90px;
		height: 90px;
		background-size: contain;
		right: 20px;
	}
	.sec3_li figure {
		width: 55px;
		height: 55px;
		background-size: contain;
		background-position: center;
		margin-top: 5px;
	}
	.sec3_li h5 {
		font-size: 10px;
		width: 80px;
		padding-top: 15px;
	}
	.sec3_list {
		flex-direction: row;
		padding: 0;
	}
	.sec3_li {
		margin: 0 auto;
	}
	.sec3_btn {
	    border: 0;
	    background: #00c961;
	    padding: 14px 30px;
	    border-radius: 20px;
	    font-size: 20px;
	    display: block;
	    margin: 5px auto 30px;
	    color: white;
	    font-weight: 600;
	}

	.sec4 {
		padding: 30px 0;
	}
	.sec4 h5 {
		font-size: 24px;
		margin-bottom: 35px;
	}
	.sec4 .container:nth-of-type(2) {
		flex-direction: column;
	}
	.sec4_feature figure {
		margin-bottom: 20px;
	}
	.sec4_feature h4 {
		margin-bottom: 30px;
	}

	.sec5 {
		background: #d2e7fa;
	}
	.sec5 h5 {
	    font-size: 18px;
	    padding: 15px 0;
	}

	.sec6 {
		background: none;
	}
	.sec6 .container:first-of-type {
		flex-direction: column;
	}
	.sec6_box {
	    padding: 0;
	    margin: 5px auto;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	}
	.sec6_right,
	.sec6_left {
		width: 160px;
		display: block;
	}
	.sec6_right {
		width: 155px;
		border-left: 1px solid #eef1f4;
		padding: 10px 5px;
	}
	.sec6_box h3 {
		font-size: 14px;
	    margin-top: 10px;
	}
	.sec6_box figure {
		width: 140px;
		height: 70px;
		background-size: contain;
	}
	.sec6_box .sec6_p1 {
	    width: 147px;
	    height: 62px;
	    background: url(./images/product1m.png) no-repeat center;
	    background-size: contain;
	    margin: 10px auto 15px;
	}
	.sec6_box .sec6_p2 {
	    width: 147px;
	    height: 62px;
	    background: url(./images/product2m.png) no-repeat center;
	    background-size: contain;
	    margin: 10px auto 15px;
	}
	.sec6_box .sec6_p3 {
	    width: 87px;
	    height: 70px;
	    background: url(./images/product3m.png) no-repeat center;
	    background-size: contain;
	    margin: 10px auto 15px;
	}
	.sec6_box h4 {
	    font-size: 12px;
	    margin-bottom: 0;
	}
	.sec6_box h5 {
		font-size: 8px;
		line-height: 1.3;
		margin: 5px auto 0;
		border: 0;
	}
	.sec6 ul {
	    list-style-type: none;
	    font-size: 11px;
	    width: initial;
	    margin: 0 auto;
	}
	.sec6 ul li {
		padding: 5px 15px 2px 20px;
	    text-align: left;
	    font-size: 11px;
	    background-size: 15px;
	}
	.sec6 li em {
		font-size: 10px;
		padding: 2px 5px;
	}
	.sec6_price {
	    width: 110px;
	    padding: 5px 2px;
	    margin: 10px auto 0;
	}
	.sec6_price p strike,
	.sec6_price p {
		font-size: 9px;
	}
	.sec6_price em {
		font-size: 21px;
	}
	.sec6_per {
		margin-top: 2px;
	}
	.sec6_btn {
	    padding: 7px 30px;
	    border-radius: 5px;
	    font-size: 12px;
	    margin: 7px auto 0;
	}
	.sec6_box figure figcaption {
		font-size: 9px;
		padding: 3px 5px;
		right: 28px;
		top: 38px;
	}
	.sec6_nothanks {
	    color: #252181;
	    font-size: 12px;
	}
}
