* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.shop {
	position: relative;
}
.shop header,
.shop .container {
	width: 1200px;
	margin: 0 auto;
}

.shop header,
.shop .container {
  width: 1200px;
  margin: 0 auto;
}

  .sec1 {
    background: #00162c;
  }
  .sec1 ul {
    list-style-type: none;
    padding: 20px 0;
  }
  .sec1 li {
    display: inline;
    color: #7dbded;
    font-size: 16px;
    margin-right: 10px;
  }
  .sec1_arrow_right {
    background: url(./images/arrowright.png) no-repeat;
    background-size: contain;
    width: 5px;
    height: 8px;
    display: inline-block;

  }

  .sec2 {
    margin-top: 25px;
  }
  .sec2 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sec2_left {
    display: block;
    width: 290px;
  }
  .sec2_categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .sec2_categories h5 {
    display: block;
    font-size: 16px;
    color: #363636;
    padding: 15px 0;
  }
  .sec2_categories a {
    padding: 15px 0;
    text-decoration: none;
  }
  .sec2_plus {
    background: url(./images/plus.png) no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    display: inline-block;
  }
  .btn {
    background: #2669d7;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 45px auto 0;
    display: block;
    width: 90px;
  }
  .btnx {
    width: 13px;
    height: 13px;
    background: url(./images/x.png) no-repeat;
    background-size: contain;
    float: right;
  }
  .sec2_right {
    display: block;
    width: 880px;
  }
  .sec2_filter {
    width: 100%;
  }
  .sec2_select {
    padding: 10px;
    float: right;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  .sec2_products {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
  }
  .sec2_product {
    display: block;
    width: 280px;
  }
  .sec2_product figure {
    width: 280px;
    height: 280px;
    margin: 0 auto;
  }
  .sec2_product h3 {
    font-size: 18px;
    color: #0054a6;
    font-weight: 600;
    margin: 20px 0 10px;
  }
  .sec2_product p {
    font-size: 18px;
    color: #999999;
  }
  .sec2_member {
    color: #363636;
    margin-bottom: 15px;
  }
  .sec2_member b {
    font-size: 18px;
    color: #0054a6;
  }
  .sec2_product em {
    font-size: 16px;
    color: white;
    font-style: normal;
    background: #00162c;
    text-align: center;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  .sec2_p1 {
    background: url(./images/p1.png) no-repeat;
    background-size: contain;
  }
  .sec2_p2 {
    background: url(./images/p2.png) no-repeat;
    background-size: contain;
  }
  .sec2_p3 {
    background: url(./images/p3.jpg) no-repeat;
    background-size: contain;
  }
  .sec2_p4 {
    background: url(./images/p4.png) no-repeat;
    background-size: contain;
  }
  .sec2_p5 {
    background: url(./images/p5.png) no-repeat;
    background-size: contain;
  }
  .sec2_p6 {
    background: url(./images/p6.png) no-repeat;
    background-size: contain;
  }
  .sec2_p7 {
    background: url(./images/p7.png) no-repeat;
    background-size: contain;
  }
  .sec2_p8 {
    background: url(./images/p8.png) no-repeat;
    background-size: contain;
  }
  .sec2_p9 {
    background: url(./images/p9.png) no-repeat;
    background-size: contain;
  }
  .sec2_more {
    width: 100%;
  }
  .sec2_more .btn {
    width: 280px;
  }
  .sec2_search_box {
  	display: none;
  }



@media(max-width: 420px){
	.sec1 ul {
      padding: 20px;
    }
    .shop .container,
    .shop header {
      width: 320px;
    }
    .sec1 ul {
    	padding: 10px 20px;
    }
    .sec1 li {
    	font-size: 11px;
    	margin-right: 5px;
    }

    .sec2 {
    	margin-top: 0;
    }
    .sec2_select,
    .sec2_left {
    	display: none;
    }
    .sec2_right {
    	width: 320px;
    	padding-bottom: 50px;
    }
    .sec2_search_box {
    	display: block;
    	width: 320px;
    	position: relative;
    }
    .sec2_search_box .sec0_search {
	    border-radius: 25px;
	    border: 1px solid silver;
	    padding: 10px 55px 10px 20px;
	    width: 300px;
	    box-sizing: border-box;
	    margin: 20px auto 0;
	    display: block;
	}
    .sec2_search_box .sec0_searchbtn {
		position: absolute;
		width: 25px;
		height: 24px;
		background: url(./images/search.png) center no-repeat;
		background-size: contain;
		border: 0;
		border: 0;
	    right: 20px;
	    top: 7px;
	}
	.sec2_products {
		width: 320px;
		margin-top: 0;
		display: initial;
	}
	.sec2_product {
		width: 140px;
		margin: 10px;
		float: left;
	}
	.sec2_product figure {
		width: 140px;
		height: 140px;
		background-size: cover;
	}
	.sec2_product h3 {
		font-size: 9px;
		font-weight: 700;
		padding: 10px 0 5px;
	}
	.sec2_product p b,
	.sec2_product p {
		font-size: 9px;
	}
	.sec2_member {
		margin-bottom: 8px;
	}
	.sec2_product em {
		font-size: 8px;
		margin-top: 5px;
		padding: 3px 6px;
	}
}