.test {
	width: 100px;
	height: 100px;
	background-color: red;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: example;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 3; /*infinite*/
	animation-timing-function: linear /*ease,ease-in,ease-out,ease-in-out*/
/*
	animation-name: example;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	 animation: example 5s linear 2s infinite alternate;*/
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {
  	background-color: blue;
  }
  to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
/*  from {
  	background-color: blue;
  	width: 100px;
  	height: 100px;
  }
  to {
  	background-color: yellow;
  	width: 200px;
  	height: 300px;
  }*/
   0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}