* {
	color: #212121;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
	line-height: 1;
	margin: 0;
	padding: 0;

}

body {
	margin: 0;
	padding: 0;
}
.main {
	position: relative;
	overflow: hidden;
}
.main .container {
	width: 1150px;
	margin: 0 auto;
}

.sec1 {
	height: 890px;
	background: url(./images/science_herobg.jpg) no-repeat center;
}
.sec1 .container {
	position: relative;
	min-height: 100%;
}
.sec1 h1 {
	padding-top: 160px;
	color: white;
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
}
.sec1 p {
	font-size: 18px;
	color: white;
	background: rgba(0,0,0,.6);
	padding: 15px;
	width: 364px;
	position: absolute;
}
.sec1 figure {
	position: absolute;
	top: 0;
	left: 0;
}
figure.sec1_brain {
	width: 162px;
	height: 162px;
	background: url(./images/h-brain.png) no-repeat;
	background-size: contain;
	left: 360px;
	top: 286px;
	animation-name: h_brain;
	animation-duration: .5s;
	animation-timing-function: ease-in;
}
@keyframes h_brain {
	from {
		opacity: 0;
		left: 340px;
	}
	to {
		opacity: 1;
		left: 360px;
	}
}
figure.sec1_heart {
	width: 130px;
	height: 130px;
	background: url(./images/h-cardio.png) no-repeat;
	background-size: contain;
	left: 560px;
	top: 373px;
	opacity: 0;
	animation: fadeout 1s ease-in-out 1 forwards; 
	animation-delay: .5s;  
}
@keyframes fadeout {
	0% {
	    transform: scale(0);
	    transform-origin: 50% 50%;
	}
	50% {
	    transform: scale(1);
	    transform-origin: 50% 50%;
	    opacity:1;
	}
	100% {
	    opacity:1;
	}
}
figure.sec1_intestine {
	width: 214px;
	height: 214px;
	background: url(./images/h-immune.png) no-repeat;
	background-size: contain;
	left: 275px;
	top: 540px;
	opacity: 0;
	opacity: 1;
	/*animation: fadeoutBottom 1s ease-in-out 1 forwards; */
	/*animation-delay: 1s;  */

}
@keyframes fadeoutBottom {
	0% {
	    transform: scale(0);
	    transform-origin: 50% 50%;
	    top: 580px;
	}
	20% {
	    top: 575px;
	}
	40% {
	    top: 570px;
	}
	60% {
	    transform: scale(1);
	    transform-origin: 50% 50%;
	    opacity:1;
	    top: 545px;
	}
	80% {
	    top: 542px;
	}
	100% {
	    top: 540px;
	    opacity:1;
	}
}
@keyframes h_intestine {
	from {
		top: 540px;
		opacity: 0;
	}
	to {
		top: 508px;
		opacity: 1;
	}
}
figure.sec1_stomach {
	width: 184px;
	height: 184px;
	background: url(./images/h-stomach.png) no-repeat;
	background-size: contain;
	left: 557px;
	top: 545px;
	opacity: 0;
	opacity: 1;
	animation: fadeoutStomach 1s ease-in-out 1 forwards; 
	animation-delay: 1.5s;  
	animation: none;

}
@keyframes fadeoutStomach{
	from {
		transform: scale(0);
	    transform-origin: 50% 50%;
	    left: 800px;
	    opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 50% 50%;
		left: 557px;
		opacity:1;
	}
}
.sec1 p:first-of-type {
	left: 0px;
	top: 265px;
	width: 330px;
	opacity: 0;
	animation: pFirst 1.3s ease-in-out 1 forwards; 
	animation-delay: 2.3s; 
}
@keyframes pFirst {
	from {
	    left: -100px;
	    opacity: 0;
	}
	to {
		left: 0;
		opacity:1;
	}
}
.sec1 p:last-of-type {
	right: 0px;
	bottom: 205px;
	opacity: 0;
	animation: pLast 1s ease-in-out 1 forwards; 
	animation-delay: 2s; 
}
@keyframes pLast {
	from {
	    right: -100px;
	    opacity: 0;
	}
	to {
		right: 0;
		opacity:1;
	}
}
figure.sec1_eyes {
	width: 112px;
	height: 112px;
	background: url(./images/h-drop.png) no-repeat;
	background-size: contain;
	left: 439px;
	top: 736px;
	opacity: 0;
	animation: fadeout 1s ease-in-out 1 forwards; 
	animation-delay: .5s;
}
figure.sec1_kidney {
	width: 122px;
	height: 122px;
	background: url(./images/h-kidney.png) no-repeat;
	background-size: contain;
    left: 629px;
    top: 740px;
	opacity: 0;
   	animation: fadeout 1s ease-in-out 1 forwards; 
	animation-delay: .5s;
}

.sec2 {

}
.sec2 .container {
	position: relative;
}
.sec2 h2 {
	font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
	background: white;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
    width: 800px;
    padding: 50px 0 20px;
}
.sec2 .separator {
	top: 68px;
}
.sec2 p {
	color: #474747;
	text-align: center;
	font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    padding: 30px 0px 0px;
    width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    animation: p 1s linear 1s;
}

@keyframes p {
	from {
		margin-top: -100px;
	}
	to {
		margin-top: 0;
	}
}

.sec3 {

}
.sec3 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sec3_box {
	display: flex;
	margin: 20px 0;
	min-height: 80px;
	flex-direction: row;
	justify-content: space-between;
	opacity: 0;
  
}
.sec3_box:nth-of-type(1),
.sec3_box:nth-of-type(3){
	animation: fadeout 1s ease-in-out 1 forwards; 
	animation-delay: .5s; 	
}
.sec3_box:nth-of-type(2){
	animation: fadeout 1.2s ease-in 1 forwards; 
	animation-delay: .3s; 	
}
.sec3 h2 {
	font-size: 18px;
	color: #000000;
	line-height: 1.8;
	text-align: center;
	margin: 0 auto;
	padding: 30px 0 20px;
}
.sec3 strong {
	font-size: 16px;
	width: 285px;
	font-weight: 600;
}
.sec3 
.sec3_brain {
	width: 100px;
	height: 77px;
	background: url(./images/brain.png) no-repeat center;
	background-size: contain;
}
.sec3_eyes {
	width: 100px;
	height: 77px;
	background: url(./images/drop.png) no-repeat center;
	background-size: contain;
}
.sec3_intestine {
	width: 100px;
	height: 77px;
	background: url(./images/intestine.png) no-repeat center;
	background-size: contain;
}
.sec3_heart {
	width: 100px;
	height: 77px;
	background: url(./images/heart.png) no-repeat center;
	background-size: contain;
}
.sec3_kidney {
	width: 100px;
	height: 77px;
	background: url(./images/kidney.png) no-repeat center;
	background-size: contain;
}
.sec3_brain {
	width: 100px;
	height: 77px;
	background: url(./images/brain.png) no-repeat center;
	background-size: contain;
}
.sec3_stomach {
	width: 100px;
	height: 77px;
	background: url(./images/stomach.png) no-repeat center;
	background-size: contain;
}

.sec4 {
	background: #fafafa;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	padding: 80px 0 10px;
}
.sec4 h4 {
	font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    background: #fafafa;
    padding: 0 30px 70px;
    z-index: 2;
}
.sec4 .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}
.separator {
	width: 100%;
	background: #e4e4e4;
	height: 1px;
	position: absolute;
	top: 15px;
	z-index: 0;
}
.sec4_box {
	width: 33.33%;
	display: block;
	position: relative;
}
.sec4_box:nth-of-type(1){
	position: relative;
	opacity: 0;
	animation: fadeoutLeft 1s ease-in-out 1 forwards; 
	animation-delay: .5s;  
}
.sec4_box:nth-of-type(2){
	position: relative;
	opacity: 0;
	animation: fadeoutTop 1s ease-in-out 1 forwards; 
	animation-delay: .5s;  
	z-index: 10;
}
.sec4_box:nth-of-type(3){
	position: relative;
	opacity: 0;
	animation: fadeoutRight 1s ease-in-out 1 forwards; 
	animation-delay: .5s;  
}
@keyframes fadeoutTop {
	from {
		transform: scale(0);
	    transform-origin: 50% 50%;
	    top: -300px;
	    opacity: 0;
	}
	
	to {
	    transform: scale(1);
	    transform-origin: 50% 50%;
	    opacity:1;
	    top: 50px;
	}
}
@keyframes fadeoutLeft {
	from {
		transform: scale(0);
	    transform-origin: 50% 50%;
	    left: -300px;
	    opacity: 0;
	}
	
	to {
	    transform: scale(1);
	    transform-origin: 50% 50%;
	    opacity:1;
	    left: 0;
	}
}
@keyframes fadeoutRight {
	from {
		transform: scale(0);
	    transform-origin: 50% 50%;
	    right: -300px;
	    opacity: 0;
	}
	
	to {
	    transform: scale(1);
	    transform-origin: 50% 50%;
	    opacity:1;
	    right: 0;
	}
}
.sec4_box b {
	font-size: 16px;
	line-height: 24px;
}
.sec4_box p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-top: 30px;
}
.sec4_bottle {
	margin: 0 auto;
	width: 289px;
	height: 376px;
	background: url(./images/science_2bottles.png) no-repeat center;
	background-size: contain;
	position: relative;
	top: -50px;
	left: -11px;
	z-index: 3;
}
.sec4 h5 {
	font-size: 19px;
    text-align: left;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
}
.sec4 li {
	font-size: 14px;
	line-height: 30px;
	list-style-type: none;
	padding: 2px;
	padding-left: 40px;
	background: url(./images/check.png) left center no-repeat;
	background-size: 29px 29px;
}

.sec5 {
	padding: 40px 0;
}
.sec5_btn {
	margin: 0 auto;
	color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    background-color: #78c4cc;
    border: 0;
    padding: 20px 60px;
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
}


@media(max-width: 420px){
	.main .container {
		width: 320px;
		margin: 0 auto;
	}
	.sec1 {
		height: 680px;
	}
	.sec1 h1 {
		font-size: 24px;
		padding-top: 175px;
	}
	.sec1 p {
		font-size: 14px;
		width: 290px;
		animation: none;
	}

	.sec1 p:first-of-type {
		top: 240px;
		width: 290px;
		left: 0;
	}
	figure.sec1_brain {
		width: 62px;
		height: 62px;
		margin: 0;
		left: 50px;
		top: 370px;
		animation-name: none;
/*		animation-duration: .5s;
		animation-timing-function: ease-in;*/
	}
	@keyframes h_brain {
		from {
			opacity: 0;
			left: 340px;
		}
		to {
			opacity: 1;
			left: 360px;
		}
	}
	figure.sec1_heart {
		margin: 0;
		width: 49px;
		height: 49px;
		left: 200px;
		top: 369px;
	}
	figure.sec1_intestine {
		width: 72.5px;
		height: 72.5px;
		margin: 0;
		left: 80px;
		top: 423px;
		animation: none;
	}
	figure.sec1_stomach {
		width: 65px;
		height: 65px;
		left: 153px;
		margin: 0;
		top: 406px;
	}
	figure.sec1_eyes {
		width: 41.5px;
		height: 41.5px;
		margin: 0;
		left: 126px;
		top: 372px;
	}
	figure.sec1_kidney {
		width: 50.7px;
		height: 50.7px;
		margin: 0;
		left: 217px;
		top: 437px;
	}
	.sec1 p:last-of-type {
		bottom: 0px;
	}

	.sec2 h2 {
		padding: 40px 0 20px;
		width: initial;
	}
	.sec2 p {
		width: initial;
		padding-top: 20px;
	}

	.sec3 {
		padding: 10px 0 20px;
	}
	.sec3 h2 {
		font-size: 15px;
		line-height: 1.5;
	}
	.sec3 .container {
		flex-direction: column;
	}
	.sec3_box {
		margin: 10px 0;
	}
	.sec3 .sec3_box figure {
		background-position: top left;
		margin: 0;
		padding: 0;
	}

	.sec4 {
		padding: 20px 0;
	}
	.sec4 .container:last-of-type {
		flex-direction: column;
	}
	.sec4 h4 {
		padding-bottom: 20px;
	}
	.sec4_box {
		width: 320px;
		margin: 0 auto;
	}
	.sec4_bottle {
		left: 0;
		top: 0;
	}
	.sec4 h5 {
		font-size: 18px;
	}
	.sec4 ul {
		padding: 0;
	}
	.sec4 li {
		font-size: 13px;
	}

	.sec5_btn {
		font-size: 20px;
		padding: 20px 30px;
	}
}